;***************************************************************
;
;   EDI-PRO V 1.56 : 13.01.94   RUMSOFT
;
;          FINISH  : 26.07.95
;
;
;***************************************************************

               DUMP  11,0

               DB    201
               DW    PRINTV

               DB    11
               DS    2
               DW    MAIN

               DUMP  11,&3370
               ORG   &3370

; 1-2-3 WORKSPACE
; 4-5 CLIPBOARD
; 6-7 HELPPAGE
; 3-4-5 START FONTS 2
; 8-9-10 FONTY
; 11-12 KOD
; 13 hudba
; 14-15 SCR & CODE
; 16-17-18-19-20-21-22-23-24-25 TEXT PAGES

MAXT:          EQU   6
VERSION:       EQU   157
CLIP:          EQU   4
GLOBAL:        EQU   5
TEXTP:         EQU   16
LENSTYL:       EQU   16
PRR:           EQU   &17
PCOL:          EQU   &55
STARTSTYL:     EQU   &C7
TAB:           EQU   &9F
KURZOR:        EQU   &E006
SROLUP:        EQU   &E009
SROLDO:        EQU   &E00C
SETS:          EQU   &E012
KURZOR0:       EQU   &E015
INDEX:         EQU   &E018
BITMAP:        EQU   &E01F
PRAV:          EQU   &8500
BREAK:         EQU   &403C
LSTYLE:        EQU   LENSTYL*10
INFOL:         EQU   64+160+60+80
PBUF:          EQU   &D400
BUFIK:         EQU   &2000
LISTA:         EQU   &F600
RULER:         EQU   LISTA+1536
MFLAG:         EQU   &27
CPS:           EQU   &34
cx:            EQU   &E024
cy:            EQU   cx+2
DISK:          EQU   &33

MAIN:          IN    A,(252)
               LD    (VMPR+1),A
               CALL  INIT
               CALL  LOGO
               CALL  NEWS
               CALL  OPEN
RESTQ:         JP    EDITOR

               DM    " RUMSOFT 94-95"

ZMENA:         DB    0
AKTUAL:        DB    1    ; AKTUALNY FILE
CLIPF:         NOP
CLIPSIZE:      DW    0
INCLIP:        DW    0
INBUF:         DW    0
;------------------------------------------------

CANCLINE:
               LD    HL,(ALINE)
               PUSH  HL
               CALL  NEXTL
               POP   DE
               RET   C      ; KONIEC SUBORU
               LD    A,(HL)
               AND   A
               SBC   HL,DE
               LD    C,L
               LD    B,H
               EX    DE,HL
               LD    (ALINE),HL
               EX    AF,AF'
               LD    A,(HL)
               CALL  ISSTYL
               JR    NC,CANC2
               EX    AF,AF'   ; CIEL MA STYL
               CALL  ISSTYL
               JR    C,CANC2
               INC   HL
               DEC   BC
CANC2:         CALL  ZRUS1
               JP    SKOC

INSLINE:
               LD    A,(FLAG)
               PUSH  AF
               RES   0,A
               LD    (FLAG),A

               CALL  CUP
               CALL  ENDLINE

               LD    IX,(ADLZ)
               CALL  SETIY
               CALL  RETURN

               POP   AF
               LD    (FLAG),A
               RET
REFORMAT:
               XOR   A
               LD    (CLIPF),A
               LD    HL,32768
               LD    D,CLIP
               LD    C,251
               EXX
               CALL  SETHL
               INC   HL
               PUSH  HL         ; SAVE START POS
               CALL  ROZLOZ
               POP   DE
               XOR   A
               SBC   HL,DE
               LD    BC,50
               SBC   HL,BC
               ADD   HL,BC
               RET   C          ; RET AK MENEJ AKO 50 ZNAKOV
               PUSH  DE
               PUSH  HL         ; SAVE LENGHT
               CALL  KEEP       ; KEEP(0)
               CALL  REFORM     ; PREFORMATUJ ; HL = NEW LEN
               EXX
               RES   7,H
               POP   BC         ;
               AND   A          ; DE = ROZDIEL
               PUSH  HL
               DEC   BC
               SBC   HL,BC      ; HL = START
               POP   BC
               EX    DE,HL      ; BC = KOMPLET DLZKA
               POP   HL
               CALL  TEXP       ; SET PAGEING RUTINE
               LD    A,D        ; KOPIRUJ A PRKRESLI
               OR    E

               LD    (BUFIK-6),BC
               LD    (BUFIK-4),DE
               LD    (BUFIK-2),HL

               JR    Z,NEKOP
               PUSH  BC
               PUSH  HL
               BIT   7,D
               JR    Z,PLUSB
               PUSH  HL
               LD    HL,0
               AND   A
               SBC   HL,DE
               LD    C,L
               LD    B,H
               POP   HL
               CALL  ZRUS1
               JR    COMFO
PLUSB:         LD    C,E
               LD    B,D
               CALL  PRID1
COMFO:         POP   HL
               POP   IX
               LD    B,0
               LD    A,(NEW+1)
               BIT   6,H
               RES   6,H
               JR    Z,$+3
               INC   A
               LD    C,A
               EX    DE,HL
               LD    A,CLIP-1
               LD    HL,32768
               RST   40
               DB    MOV_LDIR
NEKOP:         JP    SKOC

REFORM:        EXX
               LD    HL,32768
               LD    D,CLIP-1
               EXX
               LD    A,CLIP
               OUT   (251),A
               LD    HL,32768
               LD    IX,BUFIK-3
X3:            XOR   A
               LD    (IX-3),A
               LD    (IX-2),A
               LD    (IX-1),A
               LD    IY,BUFIK
X4:            LD    (INCLIP),HL
               LD    (INBUF),IY
               LD    A,(HL)
               AND   A
               RET   Z
               CALL  GETWORD
               JR    C,JUST2    ; CY AK PRETECENIE
               CP    13
               DEC   IY
               LD    (IX+0),1   ; NOJUSTIFY
               LD    (INCLIP),HL
               JR    Z,JUST2+4  ; NOVY RIADOK
               INC   IY
               LD    A,(IX-3)
               LD    (IX+0),A
               LD    DE,(BUFIK-5) ; INAK SU PLATNE DTA A ZNOVA
               LD    (BUFIK-2),DE
               JR    X4
JUST2:         LD    IY,(INBUF)
               LD    (IY+0),13
               IN    A,(251)
               EXX
               PUSH  HL
               PUSH  BC
               PUSH  DE
               EXX
               PUSH  AF
               CALL  TEXP
               PUSH  IX
               LD    A,(IX+0)
               CP    2
               CALL  NC,ZAROVNAJ
               POP   IX
               POP   AF
               OUT   (251),A
               EXX
               POP   DE
               POP   BC
               POP   HL
               EXX
               CALL  COPIES
               LD    HL,(INCLIP)
               LD    A,(HL)   ; PRESKOC MEDZERU
               CP    " "
               JR    NZ,X3
               INC   HL
               JR    X3

COPIES:        LD    HL,BUFIK
               LD    A,(HL)
               INC   HL
               CALL  KEEP
               CP    13
               JR    NZ,COPIES+3
               RET

GETWORD:       CALL  BIELE
               CALL  ZNAKS
               LD    A,95
               SUB   (IX-3)
               RET   C
               PUSH  HL
               LD    HL,(MAX+1)
               LD    E,(IX-2)
               LD    D,(IX-1)
               INC   DE
               SBC   HL,DE
               POP   HL
               RET   C
               LD    A,(IY-1)
               RET

ZNAKS:         LD    A,(HL)
               CP    13
               JR    Z,ENDCR
               CP    " "
               JR    C,CLE
               RET   Z
               CP    TAB
               RET   Z
ENDCR:         LD    (IY),A
               INC   IY
               CP    13
               CALL  NZ,ADDCH
               LD    A,(HL)
               INC   HL
               CP    13
               RET   Z
               JR    ZNAKS
CLE:           LD    (CPY+1),A
               LD    A,(HL)
               LD    (IY+0),A
               INC   IY
               CALL  ADDCH
               LD    A,(HL)
CPY:           CP    0
               INC   HL
               JR    NZ,CLE+3
               RET

BIELE:         LD    A,(HL)
               CP    TAB
               JR    Z,JEBIEL
               CP    " "
               RET   NZ
JEBIEL:        INC   HL
               LD    (IY+0),A
               INC   IY
               CALL  ADDCH
               JR    BIELE

ADDCH:         EX    AF,AF'
               IN    A,(251)
               PUSH  AF
               IN    A,(252)
               AND   31
               OUT   (251),A
               EX    AF,AF'
               INC   (IX-3)
               CALL  ISCHAR
               JR    NC,REW2   ; skok ak znak
               CP    &C0       ; riadiaci kod ?
               JR    NC,RE2
               EXX
               PUSH  BC
               PUSH  DE
               PUSH  HL
               EXX
               CALL  &E003     ; zmen pismo
               EXX
               POP   HL
               POP   DE
               POP   BC
               EXX
               JR    RE2
REW2:          CALL  INDEX
               ADD   (IX-2)
               LD    (IX-2),A
               JR    NC,RE2
               INC   (IX-1)
RE2:           POP   AF
               OUT   (251),A
               RET

GCH:           LD    D,A
               LD    A,(HL)    ; D<A<E
               INC   HL        ;    (HL)
               LD    E,(HL)
               RET

KEEP:          EXX
               IN    E,(C)
               OUT   (C),D
               LD    (HL),A
               INC   HL
               OUT   (C),E
               EXX
               RET

ISCHAR:        CP    " "         ;   NC pre 32 - 159
               RET   C
               CP    &C0
               CCF
               RET

ISSPACE:       CP    &8F
               RET   Z
               CP    " "
               RET   Z
               CP    TAB
               RET   Z
               CP    13
               RET

ISSTYL:        CP    &C0
               CCF
               RET   NC
               CP    &CA
               RET

ROZLOZ:        CALL  GCH
               CALL  ISSPACE
               JR    NZ,DEFO
               CALL  KEEP
               JR    ROZLOZ

DEFO:          AND   A
               RET   Z      ; END OF FILE
               CALL  ISSTYL
               RET   C      ; NEW PARA
               CP    " "
               JR    NZ,NOSPC
               CP    D      ; MULTISPACE
               JR    Z,SKIP
               JR    DLOOP
NOSPC:         CP    "-"
               JR    NZ,NOMINUS
               LD    A,E
               CP    13
               LD    A,"-"
               JR    NZ,DLOOP
               CALL  GCH
               CALL  GCH
               JR    DLOOP
NOMINUS:       CP    13        ; CR IF E OR D = CR
               JR    NZ,DLOOP
               LD    A,E
               CP    13
               JR    Z,DLOOP
               AND   A       ; IDE O NULL ZA ENTER
               LD    A,13
               JR    Z,DLOOP
               LD    A,E
               CALL  ISSTYL   ;IDE O STYL ZA ENTER
               LD    A,13
               CALL  C,KEEP
               JR    C,SKIP
               LD    A,D
               CP    13
               JR    Z,DLOOP
               LD    A," "
DLOOP:         CALL  KEEP
SKIP:          CALL  GCH
               JR    DEFO

SETHL:         LD    HL,(ALINE)
               RST   SCRF
               LD    A,(HL)
               CALL  ISSTYL
               RET   C           ; RET IF STYL
HX:            DEC   HL
               LD    A,(HL)
               CALL  ISSTYL
               RET   C
               JR    HX

CALC:          CALL  TEXT
               DB    22,15,0
               DM    "EVALUATE EXPRESSION : "
               DB    -1
               LD    A,40
               LD    HL,&100F
               CALL  COMPUT
               LD    DE,RULERS
               PUSH  DE
               RET   Z
               CALL  EVAL
               CALL  ASCII
               RET
EVAL:          PUSH  HL
               PUSH  AF
               CALL  RULERS
               POP   AF
               POP   HL
               RST   40
               DB    10
               CALL  &127
               RET

SET.STYLE:     PUSH  IX
               PUSH  IY
               CALL  OTVOR_OKNO
               DW    2
               DW    &90A
               DB    &F5,1,22,2,1
               DM    " Set style "
               DB    -1
               DW    3
               DW    &90A
               DW    STYLK

               LD    HL,&103
W11:           PUSH  HL
               RST   40
               DB    AT
               LD    A,"F"
               RST   16
               POP   HL
               PUSH  HL
               LD    A,"0"-3
               ADD   L
               RST   16
               LD    A," "
               RST   16
               LD    DE,STYLS+8
               POP   HL
               PUSH  HL
               LD    H,0
               DEC   L
               DEC   L
               DEC   L
               ADD   HL,HL
               ADD   HL,HL
               ADD   HL,HL
               ADD   HL,HL
               ADD   HL,DE

               LD    B,8
               LD    A,(HL)
               INC   HL
               RST   16
               DJNZ  $-3

               POP   HL
               INC   L
               LD    A,L
               CP    3+10
               JR    C,W11

               CALL  CURSOR
               CP    10
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF
               POP   IY
               POP   IX
               RET   NC
               ADD   &C0

               LD    (ZMENA),A      ; ZSTYL:
               LD    (LASTK),A
               LD    HL,(ABUF)      ; inak zmen styl
               LD    A,(HL)         ; JE TAM UZ NEJAKY STYL ?
               CP    &C0
               JR    NC,NOM         ; ANO, NEPRENASAJ

               INC   (IX+0)
               LD    BC,94
               LD    D,H
               LD    E,L
               INC   DE
               PUSH  HL
               CALL  MOVE
               POP   HL

NOM:           LD    A,(LASTK)
               LD    (HL),A
               CALL  TOTXT
               CALL  LOOK2
               CALL  UKAZ_BUF
               LD    A,(LASTK)
               JP    SET_STYL


STYLK:         DB    192,193,194,195,196,197,198
               DB    199,200,201,-1

RULERS:        RST   SCRO
               DB    62
RFLAG:         NOP
               AND   A
               LD    HL,RULER
               LD    DE,&E000-&600
               JR    Z,NORUL
RULER2:        LD    A,16
RULER3:        PUSH  HL
               LD    BC,8
               LDIR
               POP   HL
               DEC   A
               JR    NZ,RULER3
               LD    C,8
               ADD   HL,BC
               LD    A,D
               CP    &E0
               JR    C,RULER2
               RST   SCRF
               RET
NORUL:         EX    DE,HL
               LD    E,L
               LD    D,H
               INC   DE
               LD    (HL),L
               LD    BC,&5FF
               CALL  PROPO.LDIR
               RST   SCRF
               RET

DELINE:        LD    A,1
               LD    (ZMENA),A
               LD    (IX+0),A
               DEC   A
               LD    (IX+1),A
               LD    (IX+2),A
               LD    HL,(ABUF)
               LD    A,(HL)
               CP    &C0
               JR    C,THV
               INC   HL
               INC   (IX+0)
THV:           LD    (HL),13
               INC   HL
               LD    BC,94
               LD    E,0
               CALL  FILL
               CALL  CISTY
               CALL  RECAL
               CALL  TOTXT
               RET

HIGH:          LD    (REGIY+2),IY
               LD    (ZMENA),A
               CALL  OTVOR_OKNO
               DW    &0F02
               DW    &2008
               DB    &F5,1,22,2,16
               DM    " Symbol Charset "
               DB    255
               DW    &1003
               DW    &2008
               DW    0
               RST   SCRO
               LD    HL,&128
               LD    A,36
               LD    (cy),A

               LD    E,160
               EX    AF,AF'

HIGH0:         LD    HL,128-2
               LD    (cx),HL
               LD    C,4
               EX    AF,AF'

HIGH1:         LD    B,4
               LD    A,(VZOR)
               BIT   6,A
               JR    Z,HIGH4
               LD    B,2

HIGH4:         LD    A,E
               CALL  &E003
               LD    A,182
               CALL  &E003
               DJNZ  HIGH4

               INC   E
               DEC   C
               JR    NZ,HIGH1
               LD    A,(cy)
               ADD   12
               LD    (cy),A
               CP    36+96
               JR    C,HIGH0
               RST   SCRF

               CALL  CURSOR
               CP    8
               JP    NC,ZATVOR_OKNO
               LD    A,H
               RRCA
               RRCA
               RRCA
               AND   3
               PUSH  AF
               LD    D,0
               LD    H,D
               LD    E,4

               RST   &28
               DB    MULTIPLY
               POP   AF
               ADD   A,L
               AND   31
               ADD   160
               LD    (LASTK),A
               LD    (INVF),A
               CALL  ZATVOR_OKNO
               LD    IX,(ADLZ)
               CALL  CISTY
REGIY:         LD    IY,0
               RST   SCRO
               JP    ELOP2

HTK:           DB    "S","M","R",255
HTW:           DW    SVM,LMA,RSM

SVM:           LD    DE,MAKRA
               LD    HL,(ENDMA)
               AND   A
               SBC   HL,DE
               INC   HL
               RET   Z

               PUSH  HL
               CALL  INAME
               POP   IX
               RET   Z
               LD    DE,HEADR2
               LD    BC,6
               LDIR

               LD    C,12
               LD    DE,MAKRA+16384
               LD    A,19
               LD    HL,HEADR2
               JP    SAVE

HEADR2:        DM    "STAND .MAC"

LMA:           CALL  INAME
               RET   Z

               LD    DE,HEADR2
               LD    BC,6
               LDIR

               CALL  FEND

               LD    B,0
               LD    C,12
               EX    DE,HL
               SET   7,D
               RES   6,D

               LD    A,19
               LD    HL,HEADR2
               CALL  LOAD_AT
               JR    C,RSM
               CALL  FEND
               LD    (ENDMA),HL
               RET

RSM:           LD    HL,MAKRA+12
               LD    (ENDMA),HL
               LD    (HL),0
               LD    BC,10000
               RST   &28
               DB    CAKAJ
               RET

FEND:          LD    HL,MAKRA
               LD    BC,-1
               XOR   A
               CPIR
               DEC   HL
               RET

MACRO:         CALL  OTVOR_OKNO
               DW    &1002
               DW    &803
               DB    &F5,1,22,2,17
               DM    " Macro "
               DB    22,3,17,1
               DM    "Save"
               DB    22,4,17,1
               DM    "Merge"
               DB    22,5,17,1
               DM    "Reset"

               DB    255
               DW    &1103
               DW    &803
               DW    HTK

               CALL  CURSOR
               CP    3

               LD    HL,ZATVOR_OKNO
               PUSH  HL
               RET   NC

               LD    HL,HTW
               JP    RUNC


NASTAVM:       PUSH  IX
               PUSH  IY
               CALL  OTVOR_OKNO
               DW    7
               DW    &3E02
               DB    &FA,1,22,7,2
               DM    " Macro recorder "
               DB    22,8,1
               DM    "Press keys for macro, ESC for end or EDIT "
               DM    "for Cancel"
               DB    22,9,1,-1
               DW    0,0,0

VSTM:          CALL  ASCII
               CP    7
               JR    Z,ABORT1
               CP    16
               JR    Z,ABORT
               POP   IY
               POP   IX
               INC   (IX+0)
               LD    (IY+0),A
               INC   IY
               PUSH  IX
               PUSH  IY
               CP    " "
               JR    NC,$+4
               LD    A,"."
               RST   16
               JR    VSTM

ABORT:         CALL  ZATVOR_OKNO
               POP   IY
               POP   IX
               LD    (IX+0),0
               LD    (IX-1),0
               RET

ABORT1:        CALL  ZATVOR_OKNO
               POP   IY
               POP   IX
               RET

SETM:          PUSH  IX
               PUSH  IY

               LD    A,(LASTK)   ; BELOW SPACE
               CP    " "
               JR    C,ABORT1+3

               CALL  JEM
               JP    NC,UZJE

               CALL  OTVOR_OKNO
               DW    &1006
               DW    &1002
               DB    &F5,0,22,6,18
               DM    "Undefined key"
               DB    22,7,18
               DM    "Key code = "
               DB    22,8,18
               DM    "Define macro ? (Y/n)"
               DB    255
               DW    0,0,0
               LD    HL,&1A07
               RST   &28
               DB    AT
               LD    HL,(LASTK)
               LD    H,0
               CALL  NUM3

               CALL  ASCII
               RES   5,A
               CP    "Y"
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF

               POP   IY
               POP   IX
               RET   NZ

               CP    7
               RET   Z

               LD    A,(LASTK)
               LD    HL,(ENDMA)
               LD    (HL),A
               INC   HL
               PUSH  HL
               PUSH  HL
               POP   IX
               POP   IY
               INC   IY
               LD    (IX+0),0

               CALL  NASTAVM

               LD    A,(IX+0)
               AND   A
               JR    Z,NULL
               LD    (ENDMA),IY
               LD    (IY+0),0
               RET
NULL:          LD    (IX-1),0
               RET

JEM:           LD    HL,MAKRA
MLO:           LD    B,(HL)
               INC   HL
               LD    C,(HL)
               INC   HL
               CP    B
               RET   Z

               INC   B
               DEC   B
               SCF
               RET   Z

               LD    B,0
               ADD   HL,BC
               JR    MLO

UZJE:          LD    A,C
               LD    (DLM),A
               LD    (STM),HL
               POP   IY
               POP   IX
               RET

DLM:           DB    0
STM:           DW    MAKRA
ENDMA:         DW    MAKRA+12

ASCII1:        LD    A,(DLM)
               AND   A
               EI
               JP    Z,ASCII
               DEC   A
               LD    (DLM),A

               LD    HL,(STM)
               LD    A,(HL)
               INC   HL
               LD    (STM),HL
               RET

OPEN:          LD    A,201
               LD    (OPEN),A
               CALL  RULERS
OPEN2:         LD    A,(AKTUAL)
               ADD   "0"
               LD    (MYNAME+5),A
               CALL  OTVOR_OKNO
               DW    &1006
               DW    &1E04
               DB    &5F,0,22,6,18
               DM    " Open a New File "
               DB    22,8,18
               DM    "Enter a new file name (6 chars lenght)"
               DB    22,9,18
               DM    "or >ESC< for "
MYNAME:        DM    "UNTIT1"
               DM    ".EDI ..."
               DB    255
               DW    0,0,0

               LD    A,5
               LD    DE,&A83F
               CALL  BUTON
               LD    HL,MYNAME
               LD    DE,FNAME
               LD    BC,6
               LDIR
               LD    A,6
               LD    HL,&2809
               CALL  INPUT
               JP    Z,ZATVOR_OKNO
               LD    A,(HL)
               CP    " "
               JP    Z,ZATVOR_OKNO
               LD    DE,FNAME
               LD    BC,6
               LDIR
               LD    A,19
               LD    HL,FNAME
               CALL  FILE.INFO
               JR    C,note
               INC   HL
               CALL  LOAD2
note:          CALL  ZATVOR_OKNO
               JP    LOGO

LOAD2:         LD    BC,6
               LD    DE,HEADR
               LDIR
               LD    BC,(NEW+1)
               LD    DE,32768
               LD    A,19
               LD    HL,HEADR
               CALL  LOAD_AT
               RET   C
               LD    HL,32768
               CALL  TEXP
               LD    (ALINE),HL
               XOR   A
               LD    BC,32700
               CPIR
               DEC   HL
               LD    (ENDTXT),HL
               INC   HL
               LD    DE,REMS
               LD    BC,INFOL
               LDIR
               CALL  RESAUTO
               LD    A,(AKCENT)
               LD    C,A
               LD    A,(&2F)
               ADD   "C"
               CP    C
               CALL  NZ,WARNI
               RET

VIEW:          CALL  ZATVOR_OKNO
               CALL  SAVE_ALL
               RST   SCRO

               LD    HL,(ALINE)
               PUSH  HL

               LD    HL,(RIADOK)
               LD    DE,(LENGHT)
               LD    D,0
               RST   &28
               DB    DIVIDE

               LD    DE,(LENGHT)
               LD    D,0
               RST   &28
               DB    MULTIPLY

               PUSH  HL
               POP   BC
               CALL  SETTO

               CALL  OKNA
               CALL  LINKY
               LD    A,GLOBAL
               RST   &28
               DB    COLOR
               CALL  ASCII

               POP   HL
               LD    (ALINE),HL
             ; CALL LOOK2       ;LOOKSTYL
             ; CALL UKAZ_BUF
             ; CALL LOOKSTYL
             ; CALL SSTYL

               CALL  ZATVOR_OKNO
               LD    SP,(BRUM+1)
             ; CALL RULER
               JP    ELOP

OKNA:          LD    BC,2
               PUSH  BC
               LD    DE,&D05
               LD    A,240
               CALL  WIND1
               POP   BC
               LD    A,&10
               ADD   B
               CP    &40
               LD    B,A
               JR    C,OKNA+3
               LD    B,0
               LD    A,C
               CP    9
               RET   Z
               LD    C,9
               JR    OKNA+3

LINKY:         LD    HL,&9205
               PUSH  HL
               CALL  STRN
               POP   HL
               LD    A,&20
               ADD   L
               LD    L,A
               JP    P,LINKY+3
               LD    A,H
               CP    &92
               RET   NZ
               LD    HL,&9205+&2A00
               JR    LINKY+3

STRN:          LD    A,(LENGHT)
               PUSH  AF
               PUSH  HL
               LD    HL,(ALINE)
               LD    DE,&2000
               LD    BC,96
               RST   SCRF

               LDIR

               RST   SCRO
               POP   HL
               PUSH  HL
               CALL  MILI
               CALL  NEXTL
               JR    C,KONS
               POP   HL
               LD    DE,128
               ADD   HL,DE
               POP   AF
               DEC   A
               JR    NZ,STRN+3
               RET

KONS:          POP   HL
               POP   HL
               POP   HL
               POP   HL
               RET

MILI:          LD    DE,&2000
               LD    B,%11
NWE:           LD    A,(DE)
               INC   DE
               CP    13
               JR    NZ,NEO
               RET

NEO:           CALL  ISCHAR
               JR    C,NWE
               RRC   B
               RRC   B
               CP    " "
               JR    Z,BIELY
               CP    TAB
               JR    NZ,NOX

               LD    A," "
               LD    (DE),A
               DEC   DE
               LD    (DE),A
               DEC   DE
               LD    (DE),A
               JR    BIELY

NOX:           LD    A,B
               OR    (HL)
               LD    (HL),A

BIELY:         BIT   0,B
               JR    Z,NWE
               INC   HL
               JR    MILI+3

frt:           DM    "NBUEF"
               DB    255

CTRLA:         PUSH  IX
               PUSH  IY
               LD    (ZMENA),A
               CALL  RECAL
               CALL  OTVOR_OKNO
               DW    &3002
               DW    &805
               DB    &FA,1,22,2,49
               DM    "Type style"
               DB    22,3,49,1
               DM    "Normal"
               DB    22,4,49,1
               DM    "Bold"
               DB    22,5,49,1
               DM    "Underline"
               DB    22,6,49,1
               DM    "Expanded"
               DB    22,7,49,1
               DM    "Font  ..."
               DB    255
               DW    &3003
               DW    &805
               DW    frt

               CALL  CURSOR
               CP    5
               LD    HL,-1
               JP    NC,ENDQ
               LD    HL,0
               AND   A
               JR    Z,ENDQ
               LD    HL,&E0E
               DEC   A
               JR    Z,ENDQ
               LD    HL,&1010
               DEC   A
               JR    Z,ENDQ
               LD    HL,&F0F
               DEC   A
               JR    Z,ENDQ

               LD    A,2
               LD    HL,&3507
               CALL  COMPUT
               LD    A,L
ROTR:          LD    HL,-1
               JR    Z,ENDQ
               ADD   17
               LD    H,A
               LD    A,(VZOR)
               AND   31
               LD    L,A
               CP    H
               JR    Z,ROTR

ENDQ:          PUSH  HL
               CALL  ZATVOR_OKNO
               POP   HL
               POP   IY
               POP   IX
               LD    A,H
               AND   A
               RET   M     ; ESC
               LD    A,H
               OR    L
               JP    Z,ODSTRAN  ; NORMAL

               LD    A,(IX+0)
               CP    3
               RET   C
               CP    95
               RET   NC        ; KRATKY/DLHY RIADOK
               LD    A,(IY-1)
               CP    " "+1
               RET   C        ; UKAZUJE  NA >32
               CP    &C0
               RET   NC       ; NA <159

               EX    DE,HL
               PUSH  IY
               POP   HL
      ;        DEC  HL
CTL:           DEC   HL
               LD    A,(HL)
               CP    " "
               JR    Z,NASW
               CP    13
               JR    Z,NASW
               CP    TAB
               JR    Z,NASW
               CP    &C0
               JR    NC,NASW
               CP    D
               RET   Z
               AND   A
               JR    NZ,CTL

NASW:          INC   HL
               PUSH  HL

FSPC:          LD    A,(HL)
               CP    " "
               JR    Z,NSPC
               CP    TAB
               JR    Z,NSPC
               CP    13
               JR    Z,NSPC
               INC   HL
               JR    FSPC

NSPC:          PUSH  HL
               LD    A,E
               LD    (F1+1),A
               LD    A,D
               LD    (F2+1),A

               LD    A,13
               LD    BC,94
               CPIR
               JP    PO,EDITORS
               LD    D,H
               LD    E,L
               DEC   HL

F1:            LD    A,0
               POP   BC
               PUSH  HL
               PUSH  DE
               CALL  MKSPC
F2:            LD    A,0
               POP   DE
               POP   HL
               INC   HL
               INC   DE
               POP   BC
               CALL  MKSPC
               CALL  RECAL
               JP    CISTY

MKSPC:         PUSH  AF

               LD    A,(HL)
               LD    (DE),A
               AND   A
               SBC   HL,BC
               ADD   HL,BC
               DEC   HL
               DEC   DE
               JR    NZ,MKSPC+1

XSP:           POP   AF
               LD    (DE),A
               RET


               PUSH  HL
               LD    BC,94
               LD    A,13
               CPIR
               JP    PO,EDITORS
               LD    D,H
               LD    E,L
               DEC   HL
PTC:           LDD
               POP   BC
               PUSH  BC
               AND   A
               DEC   BC
               SBC   HL,BC
               ADD   HL,BC
               JR    C,PTC
               POP   HL
               POP   DE
               RET

ODSTRAN:       LD    HL,(ABUF)
               LD    DE,(ABUF)
               LD    BC,CISTY
               PUSH  BC
OD1:           LD    A,(HL)
               LD    (DE),A
               CP    13
               JP    Z,RECAL
               CP    " "
               INC   HL
               JR    C,OD1
               INC   DE
               JR    OD1

QUIT:          LD    IX,(ADLZ)
               CALL  TOTXT
VMPR:          LD    A,&DE
               OUT   (252),A
               XOR   A
               LD    (POSS),A
               LD    BC,20000
               RST   40
               DB    CAKAJ
               CALL  ROM
               DW    &166
               RST   8


CUP:           LD    HL,(RIADOK)
               LD    A,H
               OR    L
               RET   Z

               DEC   HL
               LD    (RIADOK),HL
               CALL  CIS2
               CALL  TOTXT
               LD    HL,(ABUF)
               LD    A,(HL)
               CP    &C0
               CALL  NC,LOOK
               LD    A,(POSS)
               AND   A
               JR    NZ,NER
               CALL  LASTL
               CALL  DOLBUF
               RST   SCRO
               CALL  SROLDO
               JP    FULLBUF

NER:           DEC   A
               LD    (POSS),A
               CALL  MINUL
               JP    LASTL

MINUL:         LD    HL,(ABUF)
               LD    DE,96
               AND   A
               SBC   HL,DE
               LD    (ABUF),HL
               DEC   IX
               DEC   IX
               DEC   IX
               LD    (ADLZ),IX
               RET

CDOWN:         CALL  TOTXT
               CALL  NEXTL
               RET   C

CDO2:          LD    HL,(RIADOK)
               INC   HL
               LD    (RIADOK),HL
               CALL  CIS2
               LD    IX,(ADLZ)
               LD    A,(POSS)
               INC   A
               CP    13
               JR    Z,$+5
               LD    (POSS),A
               JR    NZ,BEZ1

               RST   SCRO
               CALL  SROLUP
               CALL  UPBUFER
               CALL  FULLBUF
               CALL  SSTYL
               RET

BEZ1:          CALL  DALSI
               JP    SSTYL

DALSI:         LD    HL,(ABUF)
               LD    DE,96
               ADD   HL,DE
               LD    (ABUF),HL
               LD    IX,(ADLZ)
               INC   IX
               INC   IX
               INC   IX
               LD    (ADLZ),IX
               RET

NOVY:          LD    A,(IY+0)
               CP    13
               JP    NZ,BRUM        ; koniec

               PUSH  BC
               CALL  FREE
               JP    C,EDITORS

               LD    A,(JUSTIFY)
               CPL
               AND   4
               JR    Z,ND           ; ostan ak sa robi vrap

               LD    A,(LASTK)      ; deli sa pre medzeru
               CP    " "
               JR    Z,ND2          ; nerob vrap

               CP    TAB
               JR    Z,ND2

               PUSH  IY
               POP   HL

ND1:           LD    A,(IY-1)       ; najde  sa zaciatok p. slova
               AND   A
               JR    Z,F34
               CP    13
               JR    NZ,OKF
F34:           PUSH  HL
               POP   IY
               JR    ND

OKF:           CP    " "
               DEC   IY
               JR    NZ,ND1
               INC   IY
               JR    ND

ND2:           LD    A,(FLAG)
               SET   3,A
               LD    (FLAG),A

ND:            CALL  ROZDEL
               LD    A,(JUSTIFY)
               AND   3
               CP    3
               PUSH  AF
               CALL  Z,ZAROVNAJ
               POP   AF
               CP    2
               CALL  Z,CENTRU

               CALL  TOTXT
               CALL  CISTY
               CALL  NEXTL

               LD    HL,(RIADOK)
               INC   HL
               LD    (RIADOK),HL

               CALL  CIS2

               LD    A,(POSS)
               INC   A
               CP    13

               JR    NZ,BEZ2

               RST   SCRO
POINT:         CALL  SROLUP
               CALL  UPBUFER
               CALL  CISTY
               JR    BEZ10

BEZ2:          LD    (POSS),A
               CP    12
               PUSH  AF
               CALL  DALSI
               CALL  Z,CISTY
               POP   AF
BEZ10:         CALL  RECAL
               LD    A,(CURS+1)
               LD    C,A
               CALL  SETIY

               LD    L,(IX+1)
               LD    H,(IX+2)
               POP   BC
               LD    B,0
               ADD   HL,BC
               RET

ZAROVNAJ:      LD    HL,(MAX+1)
               LD    E,(IX+1)
               LD    D,(IX+2)
               AND   A
               SBC   HL,DE
               RET   C
               RET   Z
               PUSH  HL
               RST   SCRO
               LD    A," "
               CALL  INDEX
               LD    E,A
               LD    D,0
               POP   HL
               RST   &28
               DB    DIVIDE
               LD    A,L
               AND   A
               RET   Z
               PUSH  AF
               LD    A,96
               SUB   (IX+0)
               POP   BC
               CP    B
               JR    C,$+3
               LD    A,B
               AND   A
               RET   Z
               LD    B,A
               PUSH  IY
               POP   HL
               DEC   HL
               CALL  JESPACE
               RET   NC

XCA:           PUSH  BC             ; b = pocet " " na vlozenie
               CALL  PLUSZ          ; iy ukazuje na CR
               INC   IY             ; HL na akt. medzeru
               JR    C,RFG
               DEC   IY
               PUSH  IY
               POP   HL
               DEC   HL
               POP   BC
               INC   B
               JR    RFG+1
RFG:           POP   BC
               DJNZ  XCA
               LD    (IY+0),13
               JP    RECAL

PLUSZ:         LD    A,(HL)
               CP    " "
               JR    Z,PRESW
               CP    13
               RET   Z
               CP    &C0
               RET   NC
               DEC   HL
               JR    PLUSZ
PRESW:                             ; prida A byte od adr ALINE
               PUSH  IY                ; PRIDA BC OD HL
               POP   DE
               PUSH  HL
               PUSH  DE
               INC   DE
               POP   HL
               POP   BC
PX:            LD    A,(HL)
               LD    (DE),A
               DEC   HL
               DEC   DE
               SBC   HL,BC
               ADD   HL,BC
               JR    NC,PX
               RET

JESPACE:       PUSH  BC
               PUSH  HL
EFB:           LD    A,(HL)
               CP    13
               JR    Z,NIW
               CP    &C0
               JR    NC,NIW
               DEC   HL
               CP    " "
               JR    NZ,EFB
               SCF
NIW:           POP   HL
               POP   BC
               RET
;------------------------------------- LOW LEVEL RUTINY --------

CISPAGE:       CALL  TEXT
               DB    22,1,47
               DB    "P","a","g","e",":",255

CIS2:          LD    HL,&3401
               RST   &28
               DB    AT
               LD    HL,(RIADOK)
               LD    DE,(LENGHT)
               LD    D,0
               RST   &28
               DB    DIVIDE
               INC   HL
               LD    DE,(FIRSTPAGE)
               LD    D,0
               ADD   HL,DE
               JP    NUM2

INIC:          LD    HL,0
               LD    (RIADOK),HL
               LD    A,L
               LD    (POSS),A
               SET   7,H
               LD    (ALINE),HL
               LD    HL,BUFER
               LD    (ABUF),HL
               LD    HL,NAMIESTO
               LD    (RESTQ+1),HL
               RET

NAMIESTO:      XOR   A
               LD    (POSS),A
               LD    HL,BUFER
               LD    (ABUF),HL
               CALL  RULERS
SKOC:          LD    BC,(RIADOK)
               JP    GOTO1

CHAR:          PUSH  AF
               LD    C,A
               LD    A,(IY+0)
               CP    13
               JR    Z,INS2

               LD    A,(FLAG)
               BIT   0,A
INS2:          LD    A,C
               JR    Z,INSET

               LD    A,(IY+0)
               RST   SCRO
               CALL  INDEX
               CALL  UZSI
               LD    A,C

INSET:         LD    L,(IX+1)
               LD    H,(IX+2)
MAX:           LD    DE,480
               ADD   L
               LD    L,A
               JR    NC,$+3
               INC   H

               XOR   A
               SBC   HL,DE          ; zmesti sa znak na riadok ?
               ADD   HL,DE
               CALL  NC,NOVY         ; nie urob upravy

               LD    A,(FLAG)
               BIT   3,A
               RES   3,A
               LD    (FLAG),A
               JR    Z,NORMQ
               POP   AF
               POP   AF
               RET

NORMQ:         INC   (IX+0)         ; pripocitaj znak
               LD    (IX+1),L       ; uloz novu sirku znaku
               LD    (IX+2),H
               POP   AF
               RET

;-------------------------------------- KONIEC LOW LEVEL -------
EDITOR:        CALL  INIC
               LD    (BRUM+1),SP

EDITORS:       LD    SP,(BRUM+1)
               EI
               XOR   A
               LD    (POSS),A
               CALL  IBUFS
               CALL  INFOR
               CALL  LOOKSTYL
               CALL  SSTYL

ELOP:          LD    HL,ELOP        ; podhod navratovu adresu
               PUSH  HL
               CALL  SETPAL
               CALL  AUTOSAVE

               RST   SCRO
               LD    A,3
               CALL  &E000          ; nastav print na zaciatok
               LD    A,(POSS)       ; aktualneho riadku
               CALL  &E000

CURS:          LD    C,0            ; pozicia kurzora (platna)
               LD    B,0            ; pomocny citac
               CALL  ABUF1          ; VYPIS BUFER+KURZOR
               LD    A,182          ;  " "
               CALL  &E003

               CALL  KURZOR
               CALL  CPOS
               RST   SCRO

               CALL  GETCHAR

               EX    AF,AF'
               CALL  KURZOR

NEZA:          LD    A,(LASTK)
               CP    " "
               JP    C,RIAD

               CP    &C0
               JP    NC,RIAD

               LD    B,A
               DB    62
INVF:          DB    0
               AND   A
               LD    A,B
               JR    NZ,ELOP2

               CP    &A0
               JP    NC,RIAD

ELOP2:         LD    A,(IX+0)
               CP    96
               RET   Z

               LD    A,(LASTK)
               LD    (ZMENA),A
               CALL  INDEX
               CALL  CHAR

               LD    D,0
               LD    E,A

               DB    14             ; LD C,..
LASTK:         NOP

               LD    A,(IX+0)
               CP    96
               JR    C,BRU

               LD    HL,NOVY
               PUSH  HL
BRU:           LD    A,(IY)
               CP    13
               LD    A,(FLAG)
               JR    NZ,$+4
               RES   0,A            ; NA KONCI RIADKA BUDE INSRT

               BIT   0,A
               JR    Z,POSUN        ; PRE OVER
               LD    (IY+0),C       ; IBA PREPIS ZNAK
NPO:           LD    HL,CURS+1
               INC   (HL)
               LD    A,C
               CP    TAB
               CALL  Z,CISTY
               RET

POSUN:         PUSH  IY
               POP   HL
               PUSH  BC
               LD    DE,(ABUF)
               AND   A
               SBC   HL,DE
               LD    DE,95
               EX    DE,HL
               SBC   HL,DE
               PUSH  IY
               LD    B,H
               LD    C,L
               POP   HL
               LD    D,H
               LD    E,L
               INC   DE
               CALL  MOVE
               POP   BC
               LD    (IY+0),C
               INC   IY
               JR    NPO

SSTYL:         LD    HL,(ABUF)    ; adresa akt. bufera
               LD    A,(HL)         ; A NASTAV PRIPADNY STYL
               CP    &C0
               RET   C
               INC   HL
               PUSH  HL
               CALL  SET_STYL

SE4:           POP   HL
               LD    A,(HL)
               INC   HL
               CP    &C0
               RET   C
               CP    &CA
               RET   NC
               PUSH  HL
               LD    E,L
               LD    D,H
               DEC   DE
               LD    BC,95
               LDIR
               JR    SE4

ABUF1:         LD    HL,(ABUF)      ; adresa akt. bufera
               LD    A,(HL)
               CP    &C0            ; KOD PRE STYL SA VYNECHA
               JR    C,ADLZ1
               INC   HL

ADLZ1:         LD    IX,(ADLZ)      ; ix premenne bufera
               PUSH  HL
               CALL  SETIY          ; nastav iy na aktualny znak
               POP   HL
IL:            LD    A,C
               CP    B              ; ide o aktualny znak ?
               CALL  Z,KURZOR0
               LD    A,(HL)         ; a rob to az do konca buf.
               INC   HL
               CP    13
               RET   Z
               CALL  &E003          ; zobraz znak z bufera
               CP    " "
               JR    C,IL           ; RIADIACE NEPOCITAJ
               INC   B
               JR    IL

CLEFT:         LD    A,(CURS+1)
               AND   A
               JR    NZ,NCD1
               LD    A,95
               LD    (CURS+1),A
               JP    CUP

NCD1:          DEC   A
               LD    (CURS+1),A
               RET

CRIGHT:        LD    A,(IY+0)
               CP    13
               JR    NZ,NCD
               XOR   A
               LD    (CURS+1),A
               JP    CDOWN

NCD:           LD    A,(CURS+1)
               INC   A
               JR    NCD1+1

RETURN:        XOR   A
               LD    (CURS+1),A
               CALL  FREE
               RET   C
               CALL  INFR           ; PRN FREE
               LD    A,(FLAG)
               BIT   0,A            ; AK JE INS ,ROZDEL
               JP    NZ,CDOWN

               CALL  ROZDEL
               CALL  TOTXT          ; A ULOZ
               CALL  CISTY

               CALL  DALSI
               CALL  RECAL
               CALL  NEXTL

               CALL  TOTXT
               CALL  MINUL
               CALL  LASTL
               LD    A,(POSS)
               CP    11
               JP    NZ,CDOWN

               PUSH  IX
               XOR   A
               LD    BC,14
               LD    DE,&4001
               CALL  FILL_SCR
               POP   IX

               JP    CDOWN

BACKSP:        LD    A,(IY+0)
               CP    13
               RET   Z
               LD    (ZMENA),A
               PUSH  IY
               POP   DE
               LD    H,D
               LD    L,E
               INC   HL
               LD    A,(DE)
               EX    AF,AF'
               CALL  MOVCR
               LD    (HL),0
               EX    AF,AF'
               RST   SCRO
               PUSH  AF
               CALL  INDEX
               CALL  UZSI
DELT:          POP   AF
               CP    TAB
               RET   NZ
               JP    CISTY

DEL:           LD    A,(CURS+1)
               AND   A
               RET   Z
               LD    (ZMENA),A
;              JR   Z,DELINE       ; JE NA ZACIATKU RIADKU
               DEC   A
               LD    (CURS+1),A
HLD:           DEC   IY
               LD    A,(IY+0)
               CP    31
               JR    C,HLD
               PUSH  AF
               RST   SCRO
               CALL  INDEX
               RST   SCRF
               CALL  UZSI
               PUSH  IY
               PUSH  IY
               POP   DE
               POP   HL
               INC   HL
               CALL  MOVCR
               LD    (HL),0
               JR    DELT

UZSI:          LD    D,0
               LD    E,A
               LD    L,(IX+1)
               LD    H,(IX+2)
               AND   A
               SBC   HL,DE
               LD    (IX+1),L
               LD    (IX+2),H
               DEC   (IX+0)
               RET


LOOKSTYL:      LD    HL,(ABUF)
               LD    A,(HL)
               CP    &C0
               RET   NC
LOOK:          LD    HL,(ALINE)
               RST   SCRF
HS:            DEC   HL
               BIT   7,H
               RET   Z
               LD    A,(HL)
               CP    &C0
               JR    C,HS
               JP    SET_STYL

LOOK2:         LD    HL,(ALINE)
               PUSH  HL
               LD    A,(POSS)
               AND   A
               JR    Z,JENA
JEN2:          EX    AF,AF'
               CALL  LASTL
               EX    AF,AF'
               DEC   A
               JR    NZ,JEN2
JENA:          CALL  LOOK
               POP   HL
               LD    (ALINE),HL
               RET

DOLBUF:        LD    BC,13*96
               LD    DE,DLZKY-1
               LD    HL,DLZKY-97
               CALL  PROPO.LDDR
               LD    BC,13*3
               LD    DE,DLZKY+41
               LD    HL,DLZKY+38
               CALL  PROPO.LDDR
               RET

CAPS:          LD    A,(CPS)
               RRCA
               RRCA
               RRCA
               RRCA
               LD    DE,&8631
               CCF
               LD    A,0
               CALL  BUTON+4
               RET

ZMOD:          LD    A,(FLAG)
               JR    PREPI+5

PREPI:         LD    A,(FLAG)
               XOR   1
               LD    (FLAG),A
               RRCA
               LD    DE,&863B
               LD    A,3
               CALL  BUTON+4
               RET

T512:          XOR   A
               OUT   (251),A
               LD    A,(&9CB4)
               CP    15
               RST   SCRF
               RET

HELP:          LD    A,&C6
               OUT   (252),A
               LD    A,&22
               OUT   (254),A
               LD    B,255
               RST   &28
               DB    CAKAJ
               CALL  ASCII
               LD    A,&CE
               OUT   (252),A
               RST   &28
               DB    CAKAJ
               RET

NEXTPAGE:      CALL  TOTXT
               LD    HL,BUFER
               LD    (ABUF),HL
               LD    BC,(RIADOK)
               LD    A,13
DZY:           EX    AF,AF'
               CALL  NEXTL
               JR    C,DZY1
               EX    AF,AF'
               DEC   A
               INC   BC
               JR    NZ,DZY
DZY1:          LD    (RIADOK),BC
               JP    EDITORS

LASTPAGE:      CALL  TOTXT
               LD    HL,BUFER
               LD    (ABUF),HL
               LD    BC,(RIADOK)
               LD    A,13
DZX:           EX    AF,AF'
               CALL  LASTL
               JR    C,DZX1
               EX    AF,AF'
               DEC   A
               DEC   BC
               JR    NZ,DZX
DZX1:          LD    (RIADOK),BC
               JP    EDITORS

STARTT:        LD    IX,(ADLZ)
               CALL  TOTXT

STT:           CALL  INIC
               JP    EDITORS

ENDT:          LD    IX,(ADLZ)
               CALL  TOTXT
               LD    BC,(RIADOK)
ENX:           CALL  NEXTL
               INC   BC
               JR    NC,ENX
               DEC   BC
               LD    (RIADOK),BC
               JP    EDITORS

ZACLINE:       XOR   A
               LD    (CURS+1),A
               RET

ENDLINE:       LD    A,95
               JR    ZACLINE+1

CENTRU:        LD    HL,(ABUF)
               LD    DE,(ABUF)

OD2:           LD    A,(HL)
               LD    (DE),A
               INC   HL
               CP    " "
               JR    Z,OD2
               CP    TAB
               JR    Z,OD2
               CP    &C0
               INC   DE
               JR    NC,OD2
               CALL  MOVCR

               CALL  RECAL
               LD    HL,(MAX+1)
               LD    E,(IX+1)
               LD    D,(IX+2)
               LD    A,(IX+0)
               CP    3
               JP    C,CDOWN

               SBC   HL,DE
               JP    C,CDOWN
               RR    H
               RR    L
               LD    H,0

               LD    A,(TABS)
               ADD   A
               ADD   A
               ADD   A
               LD    D,0
               LD    E,A
               RST   &28
               DB    MODULO
               LD    D,A
               LD    E,C
               PUSH  DE            ; TABS
               PUSH  HL
               RST   SCRO
               LD    A," "
               CALL  INDEX
               LD    E,A
               LD    D,0
               POP   HL
               RST   &28
               DB    DIVIDE        ; ZVYSOK/SPACE
               POP   DE
               PUSH  HL
               PUSH  DE

               LD    A,E
               ADD   L
               LD    B,0
               LD    C,(IX+0)

               LD    HL,(ABUF)
               ADD   L
               LD    L,A
               JR    NC,$+3
               INC   H
               LD    DE,(ABUF)
               EX    DE,HL
               LD    A,(HL)
               CP    &C0
               JR    C,$+5
               INC   DE
               INC   HL
               DEC   BC
               PUSH  HL
               CALL  MOVE

               POP   HL
               POP   BC
               LD    E,TAB
               CALL  FILL
               POP   BC
               LD    E," "
               CALL  FILL
               JP    RECAL

CENTRE:        LD    (ZMENA),A
               CALL  CENTRU
               CALL  CISTY

               CALL  ENDLINE

               JP    CDOWN

TABK:          DW    CAPS
               DB    6
               DW    CALC
               DB    162
               DW    REFORMAT
               DB    175
               DW    SET.STYLE
               DB    &C9
               DW    HELP
               DB    -1
               DW    HELP
               DB    &EC
               DW    LSLOVO
               DB    2
               DW    PSLOVO
               DB    3
               DW    NEXTPAGE
               DB    &C1
               DW    LASTPAGE
               DB    &C4
               DW    STARTT
               DB    &C7
               DW    ENDT
               DB    &C0
               DW    RETURN
               DB    13
               DW    DEL
               DB    12
               DW    BACKSP
               DB    14
               DW    CLEFT
               DB    8
               DW    CRIGHT
               DB    9
               DW    CUP
               DB    11
               DW    PREPI
               DB    165
               DW    CDOWN
               DB    10
               DW    QUIT
               DB    &D4
               DW    FILES
               DB    &C8
               DW    TOGLES
               DB    &A0
               DW    STYLES2
               DB    188       ;
               DW    PAGES
               DB    &D1
               DW    OPTIO
               DB    &B8
               DW    PRINTS
               DB    &A9
               DW    SETSTART
               DB    &C5
               DW    SETEND
               DB    &C2
               DW    FIND1
               DB    &A4
               DW    EDIT
               DB    &B2
               DW    ZACLINE
               DB    &D3
               DW    ENDLINE
               DB    &BA
               DW    CENTRE
               DB    &AB
               DW    CTRLA
               DB    &C6
               DW    MACRO
               DB    &AD
               DW    GOTOS
               DB    161
               DW    HIGH
               DB    177
               DW    DELINE
               DB    210
               DW    CANCLINE
               DB    179
               DW    INSLINE
               DB    195

               DB    0,0,0

CPOS:
               LD    HL,&A01
               RST   &28
               DB    AT

               LD    HL,(RIADOK)
               CALL  NUM3
               LD    A," "
               RST   16
               LD    A,":"
               RST   16
               LD    A," "
               RST   16
               RST   SCRO
               LD    HL,(&E01B)
               JP    NUM3

FREE:          LD    HL,-398        ; hl vracia pocet volnych
               LD    DE,(ENDTXT)
               AND   A
               SBC   HL,DE
               RET

LOGO:          LD    A,PCOL
               LD    BC,0
               LD    DE,&4002
               CALL  FILL_SCR
LOGO1:         LD    A,5
               RST   &28
               DB    COLOR
               LD    A,(DISK)
               ADD   "0"
               LD    (DEVICE+1),A
               LD    HL,LO1
               CALL  STRING

LOGO2:         LD    HL,&3E00
               RST   &28
               DB    AT
               LD    A,(AKTUAL)
               ADD   "0"
               RST   16
               RET

INAME:
               CALL  OTVOR_OKNO
               DW    &203
               DW    &1801
               DB    &FA
               DB    1
               DB    22,4,4
               DM    "Enter file name: "
               DB    255
               DW    0,0,0

               LD    A,6
               LD    HL,&1104
               CALL  INPUT

               JR    NZ,INA
               CALL  ZATVOR_OKNO
               XOR   A
               RET

INA:           PUSH  HL
               LD    B,6
               XOR   A
               OR    (HL)
               INC   HL
               DJNZ  $-2
               POP   HL

               CP    " "
               JR    NZ,$+5

               LD    HL,FNAME
               PUSH  HL
               CALL  ZATVOR_OKNO
               POP   HL
               XOR   A
               INC   A
               RET

SET_STY1:      SUB   &C0
               LD    (AKTS),A
               LD    HL,LENSTYL
               LD    E,A
               LD    D,0
               RST   &28
               DB    MULTIPLY
               LD    DE,STYLS
               ADD   HL,DE
               LD    ($+4),HL
SET2:          LD    HL,0
               PUSH  IX
               PUSH  HL
               LD    DE,VZOR
               LD    BC,LENSTYL
               LDIR
               POP   IX
               RST   SCRO
               CALL  &E012
               POP   IX
               LD    HL,(RIG)
               LD    DE,(OFFSET)
               AND   A
               SBC   HL,DE
               LD    (MAX+1),HL
               RET

PST:           LD    A,(HL)
               RST   16
               INC   HL
               DJNZ  PST
               RET

SET_STYL:      CALL  SET_STY1

               CALL  TEXT
               DB    22,1,0,16,5,255

               LD    HL,NAMESTYLE
               LD    B,8
               CALL  PST
               LD    HL,&3701
               RST   &28
               DB    AT
               LD    A,">"
               RST   16
               LD    HL,(OFFSET)
               CALL  NUM3
               LD    A," "
               RST   16
               LD    A,"-"
               RST   16
               LD    A," "
               RST   16
               LD    HL,(RIG)
               CALL  NUM3
               LD    A,"<"
               RST   16
               LD    DE,&2601
               LD    A,(JUSTIFY)
               PUSH  AF
               RRCA
               LD    DE,&8641
               LD    A,1
               CCF
               CALL  BUTON+4
               POP   AF
               RRCA
               RRCA
               RRCA
               LD    A,2
               LD    DE,&864F
               CALL  BUTON+4

               CALL  RECAL
               JR    PRAVITKO

NEXTL:         RST   SCRF
               LD    HL,(ALINE)
               LD    A,(HL)
               INC   HL
               CP    13
               JR    NZ,$-4
               LD    A,(HL)
               CP    1
               JR    C,$+5
               LD    (ALINE),HL
               RET

LASTL:         RST   SCRF
               LD    HL,(ALINE)
               DEC   HL
               BIT   7,H
               SCF
               JR    Z,NOL

DEF:           DEC   HL
               BIT   7,H
               JR    Z,NOL
               LD    A,(HL)
               CP    13
               JR    NZ,DEF
NOL:           INC   HL
               JR    C,$+5
               LD    (ALINE),HL
               RET

PRAVITKO:
               RST   SCRO
               LD    HL,PRAV
               LD    BC,256
               LD    E,PCOL
               CALL  FILL
               LD    HL,PRAV
               CALL  MLI
               LD    HL,PRAV+128
               CALL  MLI
               LD    HL,PRAV
               LD    A,(TABS)
               ADD   A
               LD    C,A
X2:            LD    (HL),PCOL
               ADD   L
               LD    L,A
               CP    1
               RET   C
               LD    A,C
               JR    X2

MLI:           LD    BC,(OFFSET)
               AND   A
               RR    B
               RR    C
               AND   A
               RR    B
               RR    C
               PUSH  HL
               PUSH  BC
               LD    HL,(RIG)

               AND   A
               RR    H
               RR    L
               AND   A
               RR    H
               RR    L
               POP   DE
               AND   A
               SBC   HL,DE
               POP   BC
               EX    DE,HL          ; DE KOLKO
               ADD   HL,BC          ; HL ODKIAL
               PUSH  DE
               POP   BC
               LD    E,0
               CALL  FILL
               RET

INIT:          CALL  SMRT
               LD    A,&CE
               OUT   (252),A
               LD    A,255
               OUT   (&F9),A
               LD    A,14
               OUT   (251),A

               LD    A,1
               CALL  &E003

               LD    A,GLOBAL
               RST   &28
               DB    COLOR

SETPAL:        LD    BC,&10F8
C1:            LD    A,127         ; TEX PAPER
               OUT   (C),A
               INC   B
C2:            LD    A,120         ; INK
               OUT   (C),A
C3:            LD    A,15          ; PAPER
               INC   B
               OUT   (C),A
C4:            LD    A,0
               INC   B
               OUT   (C),A
               RET

FILL:          LD    A,B
               OR    C
               RET   Z
               DEC   BC
               LD    (HL),E
               INC   HL
               JR    FILL

INFOR:         CALL  ZMOD
               CALL  CAPS
               CALL  CISPAGE

INFR:          LD    HL,&1301
               RST   &28
               DB    AT
               CALL  FREE
NUM5:          LD    DE,10000
               CALL  DOP
NUM4:          LD    DE,1000
               CALL  DOP
NUM3:          LD    DE,100
               CALL  DOP
NUM2:          LD    DE,10
               CALL  DOP
               LD    E,1
               CALL  DOP
               RET

DOP:           LD    A,"0"-1
               INC   A
               AND   A
               SBC   HL,DE
               JR    NC,DOP+2
               ADD   HL,DE
               RST   16
               RET

OUTMEM:        CALL  OTVOR_OKNO
               DW    &1406
               DW    &1A02
               DB    &F0,2,22,7,30
               DM    "RESTRICTION !"
               DB    22,8,22
               DM    "THIS PROGRAM REQUIRED 512 KB RAM"
               DB    -1
               DW    0,0,0
               CALL  ASCII
               CALL  ZATVOR_OKNO
               RST   8

NEWS:          CALL  T512
               JR    Z,OUTMEM
               LD    A,201
               LD    (NEWS),A

               LD    A,CLIP
               OUT   (251),A
               LD    HL,32768
               LD    BC,32767
               LD    DE,32769
               LD    (HL),L
               CALL  PROPO.LDIR
               LD    A,1
               LD    (AKTUAL),A

NEWS2:         LD    A,(AKTUAL)
               CALL  TOGLE2
               CALL  NEW
               LD    A,(AKTUAL)
               PUSH  AF
               CALL  TOGLE2
               POP   AF
               INC   A
               LD    (AKTUAL),A
               CP    MAXT+1
               JR    NZ,NEWS2
               LD    A,1     ; UROB AKTIV 1
               JP    TOGLE

NEW:           LD    A,TEXTP
               OUT   (251),A
               LD    HL,0
               LD    (RIADOK),HL
               SET   7,H
               PUSH  HL
               LD    BC,32767
               LD    DE,32769
               LD    (HL),L
               CALL  PROPO.LDIR
               POP   HL
               LD    (HL),STARTSTYL
               LD    (ALINE),HL
               INC   HL
               LD    (HL),13
               INC   HL
               LD    (ENDTXT),HL
               LD    (HL),0

               LD    HL,NOVYSTL
               LD    DE,STYLS
               LD    BC,160
               CALL  PROPO.LDIR
               JP    RESAUTO

TOGLES:        CALL  TOTXT
               CALL  TOG
               CALL  INFOR
               CALL  LOGO1
               LD    A,(AKTS)
               CALL  SET_STY1+2
               JP    NAMIESTO

TOG:           LD    A,(AKTUAL)
               CALL  TOGLE2

               CALL  OTVOR_OKNO
               DW    &1004
               DW    &1406
               DB    &F5,1,22,4,19
               DM    " Choice the document "
               DB    -1
               DW    &1005
               DW    &1406
               DW    TOGK
               LD    HL,&1605
               LD    A,1
TOLO:          PUSH  HL
               PUSH  AF
               RST   40
               DB    AT
               POP   AF
               PUSH  AF
               ADD   "0"
               RST   16
               LD    A,"."
               RST   16
               LD    A," "
               RST   16
               POP   AF
               PUSH  AF
               DEC   A
               ADD   A
               LD    D,0
               LD    E,A
               LD    HL,BASA
               ADD   HL,DE
               LD    A,(HL)
               INC   HL
               LD    H,(HL)
               LD    L,A
               LD    DE,FNAME-REMS
               ADD   HL,DE
               CALL  STRING
               POP   AF
               POP   HL
               INC   L
               INC   A
               CP    MAXT+1
               JR    NZ,TOLO

               CALL  CURSOR
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF
               INC   A
               CP    MAXT+1
               JR    NC,SPETS
               CP    1
               JR    NC,TOGLE
SPETS:         LD    A,(AKTUAL)
TOGLE:
               LD    (AKTUAL),A

TOGLE2:        DEC   A        ; PREPNE NA 1..5 PODLA REG A
               ADD   A
               LD    E,A
               LD    D,0
               ADD   TEXTP
               LD    (NEW+1),A
               OUT   (251),A  ; UROB AKTUAL STRANKU
               LD    HL,BASA
               ADD   HL,DE
               LD    A,(HL)
               INC   HL
               LD    H,(HL)
               LD    L,A

               LD    DE,REMS
               LD    BC,REM0-REMS
               CALL  EXCH
               JP    LOGO2

BASA:          DW    REM1,REM0,REM3,REM4,REM5,REM6
TOGK:          DM    "123456"
               DB    -1

EXCH:          LD    A,(DE)
               LDI
               DEC   HL
               LD    (HL),A
               INC   HL
               JP    PE,EXCH
               RET

BL:            LD    HL,(ODKIAL)
               LD    DE,(LENGHT)
               LD    D,0
               PUSH  DE
               DEC   HL
               RST   &28
               DB    MULTIPLY
               EX    (SP),HL
               EX    DE,HL
               LD    HL,(KAM)
               RST   &28
               DB    MULTIPLY
               POP   DE
               AND   A
               SBC   HL,DE  ;HL=POCET DE=ODKIAL
               LD    IY,(ALINE)
               LD    (RIADKOV),HL     ; ????
               PUSH  HL
               LD    HL,32768
               LD    (ALINE),HL
               LD    B,D
               LD    C,E
               CALL  HLL
               LD    (TLOD),HL
               POP   BC
               CALL  HLL
               LD    (TLDO),HL
               LD    (ALINE),IY
               LD    DE,(TLOD)
               AND   A
               SBC   HL,DE
               JP    NZ,AL1
               RET

AL:            LD    HL,32768
               LD    DE,(ENDTXT)
               LD    (TLOD),HL
               LD    (TLDO),DE
               CALL  SPOCITAJ
               LD    (RIADKOV),HL

AL1:           LD    DE,(ENDTXT)
               LD    HL,&8002
               AND   A
               SBC   HL,DE
               RET   Z

               CALL  OTVOR_OKNO
               DW    &1106
               DW    &1805
               DB    &FA,0,22,6,24
               DM    " Print text "
               DB    22,8,21
               DM    "Print:      lines"
               DB    22,9,21
               DM    "Rest :      lines"
               DB    22,11,21
               DM    "Press >SPC< to abort ..."
               DB    255
               DW    0,0,0

               LD    A,(AKTS)
               LD    (RESTY+1),A
               RST   SCRF
               LD    HL,(TLOD)
               LD    A,(HL)
               CP    &C0
               JR    C,$+7
               CALL  SET_STY1
               JR    $+5

               CALL  LOOK+3
               LD    BC,14
               LD    DE,&4002
               CALL  SAVE_SCR

               LD    (REPRI+1),SP
               LD    HL,&1A08
               RST   &28
               DB    AT
               LD    HL,(RIADKOV)
               CALL  NUM4

               CALL  PINIT
               XOR   A
               LD    (NARIA),A
               LD    A,(FIRSTPAGE)
               INC   A
               LD    (NASTR),A
               CALL  PHEAD
               LD    A,(NEW+1)
               OUT   (251),A
               CALL  TLAC

               LD    A,(NARIA)
               LD    C,A
               LD    A,(LENGHT)
               INC   A
               SUB   C
               LD    B,A

               JR    Z,NODS

               CALL  CRLF
               DJNZ  $-3

NODS:          CALL  PHEAL
               LD    A,12
               CALL  PRT
               CALL  PINIT

REPRI:         LD    SP,0
               CALL  LOAD_SCR
               CALL  ZATVOR_OKNO
RESTY:         LD    A,0
               ADD   &C0
               CALL  SET_STYL
               RET

SMRT:          IN    A,(252)
               AND   31
               OR    &C0
               OUT   (252),A

               LD    A,13
               OUT   (251),A
               LD    A,R
               AND   3
               LD    (MUSIC),A

               CALL  TEXT
               DB    22,12,13
               DM    " Press 'C' for CZECH or 'S' for SLOVAK ver"
               DM    "sion ... "
               DB    -1

               XOR   A
               OUT   (251),A

BLOPS:         LD    A,126
               OUT   (254),A
               XOR   A
               IN    A,(254)
               OR    &E0
               CPL
               AND   A
               OUT   (254),A
               JR    Z,BLOPS

               CALL  ASCII
               RES   5,A
               CP    "C"
               JR    Z,PROST
               CP    "S"
               JR    Z,PROST
               LD    A,(32768+21)

PROST:         SUB   "C"
               LD    (&2F),A
               JR    NZ,SLOVAK
               LD    A,3
               LD    HL,32768
               LD    BC,8
               LD    DE,32768
               LD    IX,&BFFF
               RST   &28
               DB    MOV_LDIR

SLOVAK:        LD    A,201
               LD    (SMRT),A
               LD    A,14
               OUT   (251),A
               LD    A,17
               CALL  &E003
               LD    A,18
               CALL  &E003
               XOR   A
               OUT   (251),A

               LD    HL,32768
               LD    DE,MENO
               LD    BC,16
               LDIR
               LD    DE,SERIA
               LD    C,5
               LDIR
               INC   HL
               EX    DE,HL
               LD    A,(DE)
               LD    (C1+1),A
               INC   DE
               LD    A,(DE)
               LD    (C2+1),A
               INC   DE
               LD    A,(DE)
               LD    (C3+1),A
               INC   DE
               LD    A,(DE)
               LD    (C4+1),A
               INC   DE
               LD    A,(DE)
               LD    (AUTF+1),A
               INC   DE
               LD    A,(DE)
               LD    (PRR),A
               INC   DE
               LD    A,(DE)
               LD    (PPP),A
               INC   DE
               EX    DE,HL
               LD    DE,MARGIN
               LD    BC,8
               LDIR
               LD    A,(HL)
               LD    (DISPF),A
               INC   HL
               LD    A,(HL)
               LD    (RFLAG),A
               INC   HL

               LD    A,(HL)
               LD    (MFLAG),A
               INC   HL

               LD    DE,MAKRA
               LD    A,(HL)
               LDI
               AND   A
               JR    NZ,$-4

               LD    HL,MYALLOC
               LD    DE,&9100
               LD    BC,18+10
               LDIR

               LD    HL,NOVYSTL
               LD    DE,STYLS
               LD    BC,160
               CALL  PROPO.LDIR
               LD    HL,REMS
               LD    DE,REM1
               LD    BC,INFOL
               LDIR
               LD    HL,REMS
               LD    DE,REM0
               LD    BC,INFOL
               LDIR
               LD    HL,REMS
               LD    DE,REM3
               LD    BC,INFOL
               LDIR
               LD    HL,REMS
               LD    DE,REM4
               LD    BC,INFOL
               LDIR
               LD    HL,REMS
               LD    DE,REM5
               LD    BC,INFOL
               LDIR
               LD    HL,REMS
               LD    DE,REM6
               LD    BC,INFOL
               LDIR
               RET

MYALLOC:       DB    64,0,0,32
               DW    &2020,&2020,&2020,&2020,&2020,&2020
               DW    &2020,&2020,&2020,&2020,&2020,&2020

FILES:         CALL  OTVOR_OKNO
               DW    2
               DW    &090A
               DB    &F5,1,22,2,1
               DM    "Files "
               DB    22,3,1,1
               DM    "New"
               DB    22,4,1,1
               DM    "Save"
               DB    22,5,1,"S",1
               DM    "ave as"
               DB    22,6,1,1
               DM    "Load"
               DB    22,7,1,1
               DM    "Merge"
               DB    22,8,1,1
               DM    "Dir *"
               DB    22,9,1,1
               DM    "Erase"
               DB    22,10,1
               DB    "D","e",1,"v","i","c","e"," "
               DB    22,11,1,1
               DM    "Import"
               DB    22,12,1,"D","i",1
               DM    "r all"
               DB    22,10,6,255
               DW    3
               DW    &C0A
               DW    HOT1

               LD    HL,ZATVOR_OKNO
               PUSH  HL
               LD    A,"D"
               RST   16
               LD    A,(DISK)
               ADD   "0"
               RST   16

FILE2:         CALL  CURSOR
               CP    10
               RET   NC

               LD    HL,O1R
RUNC:          PUSH  AF
               ADD   A
               ADD   L
               LD    L,A
               JR    NC,$+3
               INC   H
               LD    A,(HL)
               INC   HL
               LD    H,(HL)
               LD    L,A
               POP   AF
               JP    (HL)

SETSTART:      LD    HL,(RIADOK)
               LD    (BLOK1),HL
               LD    HL,0
               LD    (BLOK2),HL
               RET

SETEND:        LD    HL,(RIADOK)
               LD    DE,(BLOK1)
               AND   A
               SBC   HL,DE
               ADD   HL,DE
               JR    NC,$+3
               EX    DE,HL
               LD    (BLOK1),DE
               LD    (BLOK2),HL
               RET

PRBL:          LD    HL,(BLOK2)
               LD    A,H
               OR    L
               JR    NZ,JEB
               CALL  TEXT
               DB    22,10,35
               DM    "No block !"
               DB    255
               RET
JEB:           CALL  TEXT
               DB    22,10,36
               DM    "First: "
               DB    255
               LD    HL,(BLOK1)
               CALL  NUM5
               CALL  TEXT
               DB    22,11,36,"E","n","d",32,32,":",32,255
               LD    HL,(BLOK2)
               JP    NUM5

FIND:          CALL  RESF

               DB    33
MEM:           DW    32768
               LD    A,(HL)
               INC   HL
               LD    (MEM),HL
               DEC   HL
               AND   A
               JR    Z,RESF

               CP    &A0
               JR    NC,FIND+3

               CP    13
               JR    Z,LNE-1
               CP    " "
               JR    NC,NEOC
               JR    FIND+3

               DB    33
LNE:           DW    0
               INC   HL
               LD    (LNE),HL
               JR    FIND+3

NEOC:          LD    DE,HLADA
               LD    A,(DE)
               INC   DE
               LD    B,A

LOPW:          LD    A,(HL)
               LD    C,A
               LD    A,(WHOLE)
               BIT   1,A
               LD    A,C
               JR    Z,MALE1+1  ; ON-ROZLISUJ MALE A VELKE
               CP    "a"
               JR    C,MALE1+1
               CP    "z"+1
               JR    NC,MALE1+1
               RES   5,A

MALE1:         LD    C,A

               LD    A,(DE)
               LD    (DFG+1),A
               LD    A,(WHOLE)
               BIT   1,A
DFG:           LD    A,0
               JR    Z,MALE2   ; ON-ROZLISUJ MALE A VELKE
               CP    "a"
               JR    C,MALE2
               CP    "z"+1
               JR    NC,MALE2

               RES   5,A

MALE2:         CP    C
               JR    NZ,FIND+3
               INC   HL
               INC   DE
               DJNZ  LOPW

               LD    A,(HL)
               CALL  POSUD
               JR    NZ,FIND+3

               LD    HL,(MEM)
               DEC   HL
               DEC   HL
               LD    A,(HL)
               CALL  POSUD
               INC   HL
               JR    NZ,FIND+3
               SCF
               RET

RESF:          LD    HL,0
               LD    (LNE),HL
               SET   7,H
               LD    (MEM),HL
               RET

POSUD:         CP    "!"
               JR    NC,VEL
               XOR   A
               LD    A,(HL)
               RET

VEL:           CP    "."
               RET   Z
               CP    ","
               RET   Z
               CP    "("
               RET   Z
               CP    ")"
               RET   Z
               CP    ";"
               RET   Z
               CP    ":"
               RET   Z
               CP    "-"
               RET   Z
               CP    &8F
               RET   Z
               CP    TAB
               RET   Z

               LD    A,(WHOLE)
               XOR   1
               BIT   0,A
               RET

PSLOVO:        LD    HL,CURS+1
E34:           LD    A,(IY+0)
               CP    13
               JR    Z,NOVL
               INC   IY
               INC   (HL)
               CP    " "
               JR    NZ,E34

E44:           LD    A,(IY+0)
               CP    13
               JR    Z,NOVL
               INC   (HL)
               CP    " "
               INC   IY
               JR    Z,E44
               DEC   (HL)
               RET

NOVL:          LD    (HL),0
               JP    CDOWN

LSLOVO:        LD    HL,CURS+1
               DEC   (HL)
               JP    M,NOVL1
               DEC   IY

E33:           LD    A,(HL)
               AND   A
               JR    Z,NOVL1
               LD    A,(IY+0)
               DEC   IY
               DEC   (HL)
               CP    " "
               JR    NZ,E33     ; HLADAJ MEDZERY
E43:           LD    A,(HL)
               AND   A
               JR    Z,NOVL1    ; KONIEC RIADKU
               LD    A,(IY+0)
               DEC   IY
               DEC   (HL)
               CP    " "
               JR    Z,E43
               INC   (HL)
               INC   (HL)
               RET

NOVL1:         LD    (HL),95
               JP    CUP

BRUM:          LD    SP,0
               RST   &28
               DB    BEEP
               JP    ELOP

MOVE:          LD    A,B
               OR    C
               RET   Z
               PUSH  HL
               XOR   A
               SBC   HL,DE
               POP   HL
               JR    C,$+5
               LDIR
               RET
               ADD   HL,BC
               DEC   HL
               EX    DE,HL
               ADD   HL,BC
               DEC   HL
               EX    DE,HL
               LDDR
               RET

SETIY:         LD    HL,(ABUF)      ; nastavi hl na E-ty
               LD    E,C            ; platny znak v bufery
               INC   E              ; styl sa nepocita
               LD    D,0

NCH:           LD    A,(HL)
               CP    &C0
               INC   HL
               JR    NC,NCH
               CP    13
               JR    Z,PREDC
               CP    32
               JR    C,NCH

               INC   D
               DEC   E
               JR    NZ,NCH
SIY:           DEC   HL
               PUSH  HL
               POP   IY
               RET

PREDC:         LD    A,D
               LD    (CURS+1),A
               LD    C,D
               JR    SIY

LOAD_BUF:      LD    HL,BUFER-1     ; hl na zaciatok
               LD    (HL),13
               INC   HL
               LD    IX,DLZKY
               LD    (ABUF),HL
               LD    (ADLZ),IX
               LD    A,14

               PUSH  AF
               PUSH  HL

L1:            RST   SCRF
               LD    A,(DE)         ; de aktualny znak
               INC   DE
               LD    (HL),A         ; koniec suboru
               AND   A
               JR    NZ,NEY
               LD    (HL),13
               POP   HL
               POP   AF
               RET

NEY:           CP    13
               JR    NZ,ASC
               POP   HL             ; novy bufer
               LD    BC,96
               ADD   HL,BC
               DEC   HL
               LD    (HL),13
               INC   HL
               INC   (IX+0)
               INC   IX
               INC   IX
               INC   IX
               POP   AF
               DEC   A
               JR    NZ,L1-2        ; rob to iba 13 krat
               RET

ASC:           INC   HL
               PUSH  HL
               PUSH  DE

               CP    &C0            ; pre styl
               INC   (IX+0)
               JR    C,L13

               CALL  SET_STY1
               POP   DE
               POP   HL
               JR    L1

L13:           RST   SCRO
               CALL  INDEX          ; inak pripocitaj sirku
               POP   DE
               POP   HL
               ADD   (IX+1)
               LD    (IX+1),A
               JR    NC,L1
               INC   (IX+2)
               JR    L1

UKAZ_BUF:      LD    HL,BUFER
               RST   SCRO
               LD    A,1
               CALL  &E003
               LD    B,13
LO5:           PUSH  HL
               CALL  U1
               POP   HL
               LD    DE,96
               ADD   HL,DE
               DJNZ  LO5
               RET

U1:            LD    A,(HL)
               AND   A
               RET   Z
               INC   HL
               CP    &C0
               JR    C,NOS
               PUSH  BC
               PUSH  HL
               CALL  SET_STY1
               POP   HL
               POP   BC
               RST   SCRO
               JR    U1

NOS:           CALL  &E000
               CP    13
               RET   Z
               JR    U1

RIAD:          LD    HL,TABK
               LD    C,A
               CALL  NAJDI
               JP    NC,SETM
               EX    DE,HL
               JP    (HL)

NAJDI:         LD    E,(HL)
               INC   HL
               LD    D,(HL)
               INC   HL
               LD    A,(HL)
               INC   HL
               AND   A
               RET   Z
               CP    C
               SCF
               RET   Z
               JR    NAJDI

IBUFS:         LD    HL,BUFER
               LD    BC,99*14
               LD    E,0
               CALL  FILL           ; vycistit komplet bufer
               RST   SCRO

               LD    A,(NEW+1)
               OUT   (251),A        ; strankuj text

               LD    DE,(ALINE)     ; napln buferY plat. datami
               CALL  LOAD_BUF

               CALL  LOOKSTYL

               JP    UKAZ_BUF       ; a ukaz ho na obrazovke

WI:            LD    A,1
               LD    HL,&2903
               CALL  COMPUT
               RET   Z
               LD    A,L
               CP    1
               JR    C,WI
               CP    4
               JR    NC,WI
               LD    (WIDTH),A
               RET

INPF:          LD    A,3
               LD    HL,&2907
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   A
               RET   Z
               DEC   A
               LD    (FIRSTPAGE),A
               RET

DN:            LD    A,2
               LD    HL,&2904
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   7
               LD    (MODE),A
               RET

ST:            LD    A,3
               LD    HL,&2905
               CALL  COMPUT
               RET   Z
               LD    DE,(KAM)
               AND   A
               INC   DE
               SBC   HL,DE
               ADD   HL,DE
               RET   NC
               LD    A,H
               OR    L
               RET   Z
               LD    (ODKIAL),HL
               RET

EN:            LD    A,3
               LD    HL,&2906
               CALL  COMPUT
               RET   Z
               LD    DE,(ODKIAL)
               AND   A
               SBC   HL,DE
               ADD   HL,DE
               RET   C
               LD    A,H
               OR    L
               RET   Z
               LD    (KAM),HL
               RET

SETTO:         LD    HL,32768
               LD    (ALINE),HL

HLL:           LD    A,B
               OR    C
               RET   Z
               CALL  NEXTL
               DEC   BC
               JR    HLL

ZOBS:          LD    HL,&1004
               RST   &28
               DB    AT
               LD    HL,(OFFSET)
               CALL  NUM3

               LD    HL,&1108
               RST   &28
               DB    AT
               LD    A,(VZOR)
               AND   31
               SUB   17
               LD    L,A
               LD    H,0
               CALL  NUM2

               LD    HL,&110D
               RST   &28
               DB    AT
               LD    A,(JUSTIFY)
               PUSH  AF
               AND   &F0
               RRCA
               RRCA
               RRCA
               RRCA
               LD    L,A
               LD    H,0
               CALL  NUM2

               POP   AF
               RRCA
               RRCA
               RRCA
               AND   1
               OR    10
               LD    DE,&110C
               RST   &28
               DB    SEMI

               LD    HL,&1005
               RST   &28
               DB    AT
               LD    HL,(RIG)
               CALL  NUM3

               LD    HL,&220A
               RST   &28
               DB    AT

               LD    HL,NAMESTYLE
               LD    B,8
               CALL  PST

               LD    HL,&2209
               RST   &28
               DB    AT
               LD    HL,(TABS)
               LD    H,0
               CALL  NUM2

               LD    DE,&1109
               LD    A,(VZOR)
               BIT   5,A
               PUSH  AF
               LD    A,10
               JR    NZ,$+3
               INC   A
               RST   &28
               DB    SEMI

               LD    DE,&110B
               POP   AF
               PUSH  AF
               BIT   7,A
               LD    A,10
               JR    NZ,$+3
               INC   A
               RST   &28
               DB    SEMI

               LD    DE,&110A
               POP   AF
               BIT   6,A
               LD    A,10
               JR    NZ,$+3
               INC   A
               RST   &28
               DB    SEMI

               LD    DE,&2208
               LD    A,(JUSTIFY)
               RRCA
               RRCA
               RRCA
               CCF
               LD    A,11
               SBC   0
               RST   &28
               DB    SEMI

               LD    HL,&3A0E
               RST   &28
               DB    AT
               LD    HL,(LSPACE)
               LD    H,0
               CALL  NUM2

               LD    DE,&2D04
               CALL  BOL4
               INC   E
               INC   E
               CALL  BOL4
               JP    BOL5

BOL4:          LD    B,4
               LD    A,9
               PUSH  BC
               RST   &28
               DB    SEMI
               POP   BC
               INC   E
               DEC   D
               DJNZ  BOL4+2
               RET

BOL5:          LD    DE,&2D04
               LD    A,(JUSTIFY)
               AND   3
               ADD   E
               LD    E,A
               LD    A,8
               RST   &28
               DB    SEMI
               LD    A,(LSPACE)
               LD    DE,&2D0A
               CP    8
               JR    Z,BO6
               INC   E
               CP    12
               JR    Z,BO6
               INC   E
               CP    16
               JR    Z,BO6
               INC   E
BO6:           LD    A,8
               RST   &28
               DB    SEMI
               RET

NDF:           DM    "LRFBEUPISOWTNV"
               DB    0,0,"C","J",255

O2R2:          DW    LBA,RBA,FO,BO,DO,UN,PRO,PROW,SVE,LOS
               DW    WR,TBA,SNA,VAL,SETJ,SETJ,SETJ,SETJ
               DW    SETL,SETL,SETL,SETL,VAL

FIRE:          CP    11
               LD    A,-1
               RET   NC       ; MOC NIZKO

               LD    A,H
               CP    22
               JR    NC,INES
               LD    A,L
               CP    2
               RET   C
               SUB   2
               CP    8      ; FONT ...
               RET   C

EF1:           LD    A,-1
               RET

INES:          CP    40
               JR    NC,INES2
               LD    A,L
               ADD   8
               CP    10
               RET   C      ; SAVE ...
               CP    12
               JR    C,EF1
               SUB   2
               RET

INES2:         LD    A,L
               ADD   14
               CP    18
               RET   C
               CP    20
               JR    C,EF1
               SUB   2
               RET

STYLES2:       CALL  OTVOR_OKNO
               DW    2
               DW    &3E0C
               DB    &FA,0,22,2,25
               DM    "  Set current style  "

               DB    22,3,2
               DM    "Indents"
               DB    22,4,4,1
               DM    "Left indent :"
               DB    22,5,4,1
               DM    "Right indent:"

               DB    22,7,2
               DM    "Type & Style"
               DB    22,8,4,1
               DM    "Font no."
               DB    22,9,4,1
               DM    "Bold"
               DB    22,10,4,1
               DM    "Expanded"
               DB    22,11,4,1
               DM    "Underline"
               DB    22,12,4,1
               DM    "Propo. mode"
               DB    22,13,4,"W",1
               DM    "idth of char :"

               DB    22,07,22
               DM    "Others"
               DB    22,8,24,1
               DM    "Word Wrap"
               DB    22,9,24,1
               DM    "Tab Size"
               DB    22,10,24,1
               DM    "Name :"

               DB    22,3,22
               DM    "Storage"
               DB    22,4,24,1
               DM    "Save styles"
               DB    22,5,24,"L",1
               DM    "oad styles"

               DB    22,3,43
               DM    "Justify"
               DB    22,4,47
               DM    "Left"
               DB    22,6,47,1
               DM    "Centered"
               DB    22,5,47
               DM    "Right"
               DB    22,7,47,1
               DM    "Justified"

               DB    22,9,43
               DM    "Line Spacing"
               DB    22,10,47
               DM    "8/72  inch"
               DB    22,11,47
               DM    "12/72 inch"
               DB    22,12,47
               DM    "16/72 inch"
               DB    22,13,47
               DM    "Other n/72"
               DB    22,14,45,1
               DM    "Value for other :"
               DB    22,13,24
               DM    "Style number : "
               DB    255

               DW    4
               DW    &400A
               DW    NDF

               LD    HL,(AKTS)
               LD    H,0
               CALL  NUM2

               LD    HL,SSTYL
               PUSH  HL
               LD    HL,LOOKSTYL   ;    SSTYL
               PUSH  HL
               LD    HL,UKAZ_BUF
               PUSH  HL
               LD    HL,LOOK2
               PUSH  HL
               LD    HL,ZATVOR_OKNO
               PUSH  HL
STY7:          LD    HL,STY7
               PUSH  HL
               LD    HL,SET2
               PUSH  HL

               CALL  ZOBS

               LD    BC,30000
               RST   &28
               DB    CAKAJ

               CALL  CURSOR
               CALL  NC,FIRE

               CP    25
               LD    HL,O2R2
               JP    C,RUNC

               POP   AF
               POP   AF
               LD    A,(AKTS)
               ADD   &C0
               JP    SET_STYL

VAL:           LD    A,2
               LD    HL,&3A0E
               CALL  COMPUT
               RET   Z

               LD    A,L
               CP    8
               RET   C
               CP    25
               RET   NC

               LD    IX,(SET2+1)
               LD    (IX+7),A
               RET


SNA:           LD    A,8
               LD    HL,&220A
               CALL  INPUT
               RET   Z
               EX    DE,HL
               LD    BC,8
               LD    HL,(SET2+1)
               ADD   HL,BC
               EX    DE,HL
               LD    C,8
               LDIR
               RET

HEADR1:        DS    6
               DM    ".STL"

SVE:           CALL  INAME
               RET   Z
               LD    DE,HEADR1
               LD    BC,6
               LDIR
               LD    C,11
               LD    DE,STYLS
               SET   7,D
               RES   6,D
               LD    A,19
               LD    HL,HEADR1
               LD    B,0
               LD    IX,LSTYLE
               JP    SAVE

LOS:           CALL  INAME
               RET   Z

               LD    DE,HEADR1
               LD    BC,6
               LDIR
               LD    C,11
               LD    DE,STYLS
               SET   7,D
               RES   6,D
               LD    A,19
               LD    HL,HEADR1
               CALL  LOAD_AT
               CALL  ZATVOR_OKNO
               JP    WARM

TBA:           LD    A,2
               LD    HL,&2209
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   252
               RET   Z
               CP    17
               RET   NC
STA:           LD    HL,(SET2+1)
               INC   HL
               LD    (HL),A
               RET

RBA:           LD    A,3
               LD    HL,&1005
               CALL  COMPUT
               RET   Z
               LD    A,H
               CP    1
               RET   NZ
               LD    IX,(SET2+1)
               LD    (IX+5),L
               LD    (IX+6),H
               RET

LBA:           LD    A,3
               LD    HL,&1004
               CALL  COMPUT
               RET   Z
               LD    H,0
               LD    IX,(SET2+1)
               LD    (IX+3),L
               LD    (IX+4),H
               RET

FO:            LD    A,2
               LD    HL,&1108
               CALL  COMPUT
               RET   Z
               LD    A,L
               CP    15
               RET   NC
               ADD   17
               LD    B,A
               LD    HL,(SET2+1)
               LD    A,(HL)
               AND   &E0
               OR    B
               LD    (HL),A
               RET

PROW:          LD    A,2
               LD    HL,&110D
               CALL  COMPUT
               RET   Z
               LD    A,L
               RLCA
               RLCA
               RLCA
               RLCA
               AND   &F0
               LD    B,A
               LD    IX,(SET2+1)
               LD    A,(IX+2)
               AND   &F
               OR    B
               LD    (IX+2),A
               RET

BO:            LD    B,32
               JR    DO+2

UN:            LD    B,128
               JR    DO+2

DO:            LD    B,64
               LD    HL,(SET2+1)
               LD    A,(HL)
               XOR   B
               LD    (HL),A
               RET

SETJ:          SUB   14
               LD    B,A
               LD    IX,(SET2+1)
               LD    A,(IX+2)
               AND   %11111100
               OR    B
               LD    (IX+2),A
               RET

SETL:          SUB   18
               CP    3
               RET   NC

               ADD   A
               ADD   A
               ADD   8
               LD    IX,(SET2+1)
               LD    (IX+7),A
               RET

WR:            LD    IX,(SET2+1)
               LD    A,(IX+2)
               XOR   4
               LD    (IX+2),A
               RET

PRO:           LD    IX,(SET2+1)
               LD    A,(IX+2)
               XOR   8
               LD    (IX+2),A
               RET

PROPO.LDIR:    PUSH  HL
               LD    HL,MULTI.LDIR
               JR    MULTI

PROPO.LDDR:    PUSH  HL
               LD    HL,MULTI.LDDR
MULTI:         PUSH  AF
               LD    A,C
               NEG
               SLA   A
               ADD   L
               LD    L,A
               JR    NC,$+3
               INC   H
               POP   AF
               EX    (SP),HL
               RET

MULTI.LDIR:
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               LDI
               JP    PE,MULTI.LDIR
               RET

MULTI.LDDR:
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               LDD
               JP    PE,MULTI.LDDR
               RET

NOVYSTL:       DB    17,8
               DB    3
               DW    0,500
               DB    12
               DM    "TITLE   "

               DB    18,4
               DB    3
               DW    32,480
               DB    12
               DM    "TEXT 1  "

               DB    19,4
               DB    3
               DW    32,480
               DB    12
               DM    "TEXT 2  "

               DB    20,4
               DB    3
               DW    0,480
               DB    12
               DM    "TEXT 3  "

               DB    21,4
               DB    3
               DW    0,500
               DB    12
               DM    "TEXT 4  "

               DB    22,4
               DB    3
               DW    32,480
               DB    12
               DM    "TEXT 5  "

               DB    23,4
               DB    3
               DW    0,500
               DB    12
               DM    "ENTITLE "

               DB    31,4
               DB    3
               DW    20,501
               DB    12
               DM    "TASWORD "

               DB    27,4
               DB    3
               DW    0,500
               DB    12
               DM    "NEWS    "

               DB    26,4
               DB    3
               DW    0,500
               DB    12
               DM    "TEXT 6  "

REM1:          DM    "               "
               DM    "               "
               DM    "               "
               DM    "               "

               DS    160

               DB    8
               DB    3
               DB    3
               DB    60
               DB    1
               DB    5
               DB    12
               DB    7
               DW    1,1
               DB    0
               DW    VERSION
               DB    "S"
               DS    80-24

               DM    "                  "
               DM    "                  "
               DM    "                  "
               DM    "                  "

               DW    32768
               DW    0
               DW    0
               DW    STYLS
               DB    0
               DB    0
               DW    BUFER
               DW    DLZKY
               DB    0
               DB    4
               DB    0
               DW    0
               DW    0
               DB    12
               DS    8
               NOP
               DW    0,0
               DB    22,0,23
               DM    "EDI-PRO  "
               DM    "D1:"
               DM    "UNTIT1.EDI"
               DB    255

REM3:          DM    "               "
               DM    "               "
               DM    "               "
               DM    "               "

               DS    160

               DB    8
               DB    3
               DB    3
               DB    60
               DB    1
               DB    5
               DB    12
               DB    7
               DW    1,1
               DB    0
               DW    VERSION
               DB    "S"
               DS    80-24

               DM    "                  "
               DM    "                  "
               DM    "                  "
               DM    "                  "

               DW    32768
               DW    0
               DW    0
               DW    STYLS
               DB    0
               DB    0
               DW    BUFER
               DW    DLZKY
               DB    0
               DB    4
               DB    0
               DW    0
               DW    0
               DB    12
               DS    8
               NOP
               DW    0,0
               DB    22,0,23
               DM    "EDI-PRO  "
               DM    "D1:"
               DM    "UNTIT3.EDI"
               DB    255

REM4:          DM    "               "
               DM    "               "
               DM    "               "
               DM    "               "

               DS    160

               DB    8
               DB    3
               DB    3
               DB    60
               DB    1
               DB    5
               DB    12
               DB    7
               DW    1,1
               DB    0
               DW    VERSION
               DB    "S"
               DS    80-24

               DM    "                  "
               DM    "                  "
               DM    "                  "
               DM    "                  "

               DW    32768
               DW    0
               DW    0
               DW    STYLS
               DB    0
               DB    0
               DW    BUFER
               DW    DLZKY
               DB    0
               DB    4
               DB    0
               DW    0
               DW    0
               DB    12
               DS    8
               NOP
               DW    0,0
               DB    22,0,23
               DM    "EDI-PRO  "
               DM    "D1:"
               DM    "UNTIT4.EDI"
               DB    -1


REM5:          DM    "               "
               DM    "               "
               DM    "               "
               DM    "               "

               DS    160

               DB    8
               DB    3
               DB    3
               DB    60
               DB    1
               DB    5
               DB    12
               DB    7
               DW    1,1
               DB    0
               DW    VERSION
               DB    "S"
               DS    80-24

               DM    "                  "
               DM    "                  "
               DM    "                  "
               DM    "                  "

               DW    32768
               DW    0
               DW    0
               DW    STYLS
               DB    0
               DB    0
               DW    BUFER
               DW    DLZKY
               DB    0
               DB    4
               DB    0
               DW    0
               DW    0
               DB    12
               DS    8
               NOP
               DW    0,0
               DB    22,0,23
               DM    "EDI-PRO  "
               DM    "D1:"
               DM    "UNTIT5.EDI"
               DB    255

REM6:          DM    "               "
               DM    "               "
               DM    "               "
               DM    "               "

               DS    160

               DB    8
               DB    3
               DB    3
               DB    60
               DB    1
               DB    5
               DB    12
               DB    7
               DW    1,1
               DB    0
               DW    VERSION
               DB    "S"
               DS    80-24

               DM    "                  "
               DM    "                  "
               DM    "                  "
               DM    "                  "

               DW    32768
               DW    0
               DW    0
               DW    STYLS
               DB    0
               DB    0
               DW    BUFER
               DW    DLZKY
               DB    0
               DB    4
               DB    0
               DW    0
               DW    0
               DB    12
               DS    8
               NOP
               DW    0,0
               DB    22,0,23
               DM    "EDI-PRO  "
               DM    "D1:"
               DM    "UNTIT6.EDI"
               DB    -1

HEAP:          EQU   $
;------------------------------------------END OF HEAP----------

               ORG   &5E00
               DUMP  12,&1E00

BUFER:         DS    96*14
DLZKY:         DS    3*14


SPOCITAJ:      RST   SCRF
               LD    DE,32768
               LD    HL,0
SPA:           LD    A,(DE)
               INC   DE
               AND   A
               RET   Z
               CP    13
               JR    NZ,SPA
               INC   HL
               JR    SPA

PRT:           PUSH  BC
               PUSH  AF
               DI
TESD:          LD    A,&7F
               IN    A,(&FE)
               BIT   0,A
               JP    Z,REPRI
               LD    BC,&1E9
               IN    A,(C)
               RRCA
               JR    C,TESD
               POP   AF
               DEC   C
               OUT   (C),A
               INC   C
               OUT   (C),B
               DEC   B
               OUT   (C),B
               POP   BC
               RET

RIADKOV:       DS    2
TLOD:          DW    BUFER
TLDO:          DW    BUFER
NASTR:         DB    1     ; na strane ..
NARIA:         DB    0
LSP:           NOP

TLAC:          LD    HL,&1A09
               DI
               RST   &28
               DB    AT
               LD    HL,(RIADKOV)
               PUSH  HL
               CALL  NUM4
               POP   HL
               DEC   HL
               LD    (RIADKOV),HL
               CALL  CIST
               LD    HL,(TLOD)
               LD    DE,(TLDO)
               AND   A
               SBC   HL,DE
               ADD   HL,DE
               RET   NC           ; text je uz vytlaceny
               CALL  PRLOP
               RET   Z            ; NASIEL NULL
               CALL  INKEY
               AND   A
               JR    Z,TLAC       ; NIC NIEJE STLACENE

               CALL  OTVOR_OKNO
               DW    &1008
               DW    &1602
               DB    &F,1,22,8,17
               DM    "Pausing "
               DB    22,9,18
               DM    "Press 'Q' to quit, or any"
               DB    22,10,24
               DM    "key to continue"
               DB    255
               DW    0,0,0
               LD    BC,0
               RST   &28
               DB    CAKAJ
               CALL  ASCII
               RES   5,A
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF
               CP    "Q"
               JP    Z,REPRI-3
               JP    TLAC

PAGEP:         CALL  OTVOR_OKNO
               DW    &1008
               DW    &1602
               DB    &F,1,22,8,17
               DM    "New page"
               DB    22,9,18
               DM    "Change paper, press any"
               DB    22,10,24
               DM    "key to continue"
               DB    255
               DW    0,0,0
               LD    BC,0
               RST   &28
               DB    CAKAJ
               CALL  ASCII
               RES   5,A
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF
               CP    7
               JP    Z,REPRI-3
               RET

PRLOP:         RST   SCRF
               LD    HL,(TLOD)
               LD    A,(HL)
               INC   HL
               LD    (TLOD),HL
               AND   A
               RET   Z
               CP    &C0
               JR    C,NSS

               CALL  SET_STY1
               JR    PRLOP

NSS:           RST   SCRO
               CALL  &E003
               CP    13
               JR    NZ,PRLOP

LINE:          CALL  PRAZDNY
               JP    NZ,NIJE
               CALL  CRLF

KONL:          LD    A,(NARIA)
               INC   A
               LD    (NARIA),A
               LD    B,A
               LD    A,(LENGHT)
               DEC   B
               CP    B
               RET   NZ

               CALL  PHEAL
               LD    A,12
               CALL  PRT
               LD    A,(PPP)
               AND   A
               CALL  Z,PAGEP
               LD    A,(NASTR)
               INC   A
               LD    (NASTR),A
               CALL  PHEAD
               XOR   A
               LD    (NARIA),A
               INC   A
               RET

EMPTY:         LD    B,128
               XOR   A
XX:            OR    (HL)
               RET   NZ
               INC   HL
               DJNZ  XX
               RET

CIST:          LD    HL,PBUF
               LD    BC,&C00
               LD    E,0
               RST   SCRO
               CALL  FILL
               LD    A,3
               CALL  &E000
               LD    A,12
               JP    &E000

CRLF:          LD    A,(LSPACE)
               LD    C,A
               CALL  ODR
               RET

PINIT:         LD    HL,PRTS
               LD    A,(SIZE)
               LD    (PRTS+5),A
PW:            LD    A,(HL)
               CP    255
               INC   HL
               RET   Z
               CALL  PRT
               JR    PW

PRTS:          DB    27,"@",27,"C",0,0,255


PRAZDNY:       LD    BC,&600
               LD    HL,PBUF
               XOR   A
TS:            OR    (HL)
               RET   NZ
               CPI
               JP    PE,TS
               RET

NIJE:          LD    HL,(1)
               LD    A,(LSPACE)
               JP    (HL)

PRINTV:        LD    (LSP),A
               LD    HL,PBUF
               LD    C,0
DX:            CALL  EMPTY
               JR    NZ,PIS
               INC   C
               JR    DX

PIS:           INC   C
               DEC   C
               JR    Z,NOO          ; C=PRAZDNE MLINE
               LD    A,(LSP)
               SUB   C
               LD    (LSP),A
               CALL  ODR

NOO:           CALL  NOOD           ; ODR 8 MLINE

               PUSH  HL
               LD    B,254
               CALL  EMPTY+2        ; TLAC na dvakrat !!!!
               POP   HL
               CALL  NZ,NOOD

               LD    A,(LSP)
               LD    C,A
               AND   A
               CALL  NZ,ODR         ; PRE PRIPAD POTREBY
               JP    KONL

NOOD:          LD    A,L
               AND   128
               LD    L,A
               LD    A,(MARGIN)
               AND   A
               JR    Z,NOMAR
               LD    B,A
               LD    A," "
               CALL  PRT
               DJNZ  $-3
NOMAR:         PUSH  HL
               CALL  HCL1
               POP   HL
               INC   H
               INC   H
               INC   H
               INC   H
               RET

HCL1:          LD    IX,BUFIK
               LD    B,128
HCL2:          PUSH  HL
               LD    A,1
               LD    (IX+0),A
               LD    (IX+1),A
               LD    (IX+2),A
               LD    (IX+3),A

HCL:           LD    A,(HL)
               RLC   A
               RLC   A
               RL    (IX+0)
               RLC   A
               RLC   A
               RL    (IX+1)
               RLC   A
               RLC   A
               RL    (IX+2)
               RLC   A
               RLC   A
               RL    (IX+3)
               JR    C,END2
               LD    A,128
               ADD   L
               LD    L,A
               JR    NC,HCL
               INC   H
               JR    HCL

END2:          POP   HL
               INC   IX
               INC   IX
               INC   IX
               INC   IX
               INC   L
               DJNZ  HCL2

               LD    HL,BUFIK+511
               LD    BC,512
XS:            LD    A,(HL)
               AND   A
               JR    NZ,KONBU
               DEC   HL
               DEC   BC
               JR    XS

KONBU:         LD    H,B
               LD    L,C
               PUSH  BC
               LD    D,0
               LD    A,(WIDTH)
               LD    E,A
               RST   &28
               DB    MULTIPLY
               LD    (GRM+1),HL
               CALL  GRMOD
               LD    HL,BUFIK
               POP   DE
               LD    A,(WIDTH)
               LD    C,A
XY:            LD    B,C
               LD    A,(HL)
               CALL  PRT
               DJNZ  XY+1
               INC   HL
               DEC   DE
               LD    A,D
               OR    E
               JR    NZ,XY

               LD    A,(LSP)
               SUB   8
               JR    NC,SDF
               ADD   8
               LD    C,A
               XOR   A
               JR    SDF+2
SDF:           LD    C,8
               LD    (LSP),A

ODR:           LD    A,27
               CALL  PRT
               LD    A,"J"
               CALL  PRT
               LD    A,C
               ADD   A
               ADD   C
               CALL  PRT
               LD    A,13
               CALL  PRT
               RET

GRMOD:         LD    A,27
               CALL  PRT
               LD    A,"*"
               CALL  PRT
               LD    A,(MODE)
               CALL  PRT
GRM:           LD    HL,0
               LD    A,L
               CALL  PRT
               LD    A,H
               CALL  PRT
               RET

PHEAD:         CALL  CIST
               LD    A,(BOTTOM)
               AND   A
               RET   Z

               LD    A,(AKTS)
               PUSH  AF
               LD    A,(HSTYL)
               CALL  SET_STY1+2
               LD    HL,HEAD
               LD    B,36
HE3:           LD    A,(HL)
               CP    "#"
               CALL  Z,CISTR
               CALL  NZ,&E000
               INC   HL
               DJNZ  HE3
               POP   AF
               CALL  SET_STY1+2
               CALL  LINE
               LD    A,(BOTTOM)
               SUB   2
               RET   C
               LD    B,A
               INC   B
               LD    A,(LSPACE)
               LD    C,A
               CALL  ODR
               DJNZ  $-3
               RET

PHEAL:         CALL  CIST
               LD    A,(BELOW)
               AND   A
               RET   Z

               LD    A,(AKTS)
               PUSH  AF
               LD    A,(HSTYL)
               CALL  SET_STY1+2
               LD    A,(BELOW)
               SUB   2
               JR    C,NOH
               LD    B,A
               INC   B
               LD    A,(LSPACE)
               LD    C,A
               CALL  ODR
               DJNZ  $-3
NOH:           LD    HL,HEAL
               LD    B,36
HE4:           LD    A,(HL)
               CP    "#"
               CALL  Z,CISTR
               CALL  NZ,&E000
               INC   HL
               DJNZ  HE4
               CALL  LINE
               POP   AF
               JP    SET_STY1+2

CISTR:         PUSH  AF
               PUSH  BC
               PUSH  DE

               LD    A,(NASTR)
               LD    D,0
               LD    E,100
               CALL  ODE
               LD    E,10
               CALL  ODE
               ADD   "0"
               CALL  &E003

               POP   DE
               POP   BC
               POP   AF
               RET

ODE:           LD    C,&2F
ODO:           INC   C
               SUB   E
               JR    NC,ODO
               ADD   E
               LD    B,A
               LD    A,C
               CP    "0"
               JR    NZ,OD4
               LD    A,D
               JR    OD4+2

OD4:           LD    D,"0"
               CALL  NZ,&E003
               LD    A,B
               RET

HOT5:          DM    "WDSEFPRBA"
               DB    255
O5R:           DW    WI,DN,ST,EN,INPF,PP,VIEW,BL,AL

PRINTS:        CALL  TOTXT
               CALL  OTVOR_OKNO
               DW    &1F02
               DW    &0C09
               DB    &F5,1,22,2,32
               DM    "Print "
               DB    22,3,32,1
               DM    "Width"
               DB    22,4,32,1
               DM    "Density"
               DB    22,5,32,1
               DM    "Start"
               DB    22,6,32,1
               DM    "End"
               DB    22,7,32,1
               DM    "First page"
               DB    22,8,32,1
               DM    "Prompt"
               DB    22,9,32,"P",1
               DM    "review"
               DB    22,10,32,1
               DM    "Block"
               DB    22,11,32,1
               DM    "All text"
               DB    255
               DW    &1F03
               DW    &C09
               DW    HOT5

               LD    HL,ZATVOR_OKNO
               PUSH  HL
PRLO:          LD    HL,PRLO
               PUSH  HL
               LD    HL,&2903
               RST   &28
               DB    AT
               LD    A,(WIDTH)
               ADD   "0"
               RST   16
               LD    HL,&2904
               RST   &28
               DB    AT
               LD    A,(MODE)
               ADD   "0"
               RST   16
               LD    HL,&2905
               RST   &28
               DB    AT
               LD    HL,(ODKIAL)
               CALL  NUM2
               LD    HL,&2906
               RST   &28
               DB    AT
               LD    HL,(KAM)
               CALL  NUM2

               LD    HL,&2907
               RST   &28
               DB    AT
               LD    HL,(FIRSTPAGE)
               INC   L
               LD    H,0
               CALL  NUM3

               LD    DE,&2908
               LD    A,(PPP)
               ADD   10
               RST   &28
               DB    SEMI

               CALL  CURSOR
               CP    9
               LD    HL,O5R
               JP    C,RUNC
               POP   AF
               RET

PP:            LD    A,(PPP)
               XOR   1
               LD    (PPP),A
               RET
PPP:           DB    1
;-----------------------------------------------
CO:            CALL  OTVOR_OKNO
               DW    &C04
               DW    &C04
               DB    &FA,1,22,5,13,1
               DM    "Text paper"
               DB    22,6,13,"T",1
               DM    "ext ink"
               DB    22,7,13,1
               DM    "Menu paper"
               DB    22,8,13,"M","e",1
               DM    "nu ink"
               DB    255
               DW    &C05
               DW    &E05
               DW    HOT40

               LD    HL,ZATVOR_OKNO
               PUSH  HL
               LD    HL,SETPAL
               PUSH  HL
SCO:           LD    HL,SCO
               PUSH  HL
               CALL  CURSOR
               CP    4
               LD    HL,O44
               JP    C,RUNC
               POP   AF
               RET

HOT40:         DB    "T","E","M","N",255
O44:           DW    TP,TI,MP,MI

TP:            LD    A,3
               LD    HL,&1605
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   127
               LD    (C1+1),A
               RET

TI:            LD    A,3
               LD    HL,&1606
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   127
               LD    (C4+1),A
               RET

MP:            LD    A,3
               LD    HL,&1607
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   127
               LD    (C3+1),A
               RET

MI:            LD    A,3
               LD    HL,&1608
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   127
               LD    (C2+1),A
               RET

CZE:           DM    "(CZECH) "

INF:           LD    A,(&2F)
               AND   A
               JR    NZ,NEPT
               LD    HL,CZE
               LD    DE,VERZIA
               LD    BC,8
               LDIR
NEPT:          CALL  OTVOR_OKNO
               DW    &604
               DW    &3408
               DB    &FA,0,22,5,8

               DM    "Rumsoft Edi Pro for SAM Vision"
               DB    22,6,8
               DM    "Version 1.57 "
VERZIA:        DM    "(SLOVAK)"
               DB    22,7,8
               DM    "Copyright  1993-1995 Rumsoft"
               DB    22,9,8
               DM    "Licensed to  : "
MENO:          DM    "Marian Krivos   "
               DB    22,10,8
               DM    "Print driver : EPSON FX-80"
               DB    22,11,8
               DM    "Serial number: "
SERIA:         DM    "00001"
               DB    22,10,37
               DM    "Released : 26th July 1995"
               DB    22,12,8
               DM    "Remark: "
               DB    255
               DW    0,&4010,0

               LD    HL,REMS
               LD    B,60
               CALL  PST
               CALL  TEXT
               DB    22,9,37
               DM    "Text size: "
               DB    255
               LD    HL,(ENDTXT)
               RES   7,H
               CALL  NUM5
               CALL  BYTES
               LD    A,(CLIPF)
               AND   A
               JR    Z,NOCLI
               CALL  TEXT
               DB    22,11,37
               DM    "Clipboard: "
               DB    -1
               LD    HL,(CLIPSIZE)
               CALL  NUM5
               CALL  BYTES
NOCLI:         CALL  CURSOR
               JP    ZATVOR_OKNO

BYTES:         CALL  TEXT
               DB    32,"b","y","t","e","s",255
               RET

REM:           CALL  OTVOR_OKNO
               DW    &806
               DW    &3001
               DB    &FA,1,22,6,9
               DM    "Enter file remark"
               DB    255
               DW    0,0,0
               LD    HL,ZATVOR_OKNO
               PUSH  HL
               LD    A,60
               LD    HL,&907
               CALL  INPUT
               RET   Z
               LD    DE,REMS
               LD    BC,60
               LDIR
               RET

HOTK:          DM    "IEWMFR"
               DB    255
OAR:           DW    INH,INR,SWORD,SCASE,FINDS,REPLC

REP:           CALL  OTVOR_OKNO
               DW    &1306
               DW    &1C06
               DB    &FA,1,22,7,21,"F",1
               DM    "ind what:"
               DB    22,8,21,"R",1
               DM    "eplace with:"
               DB    22,9,23,1
               DM    "Whole word only"
               DB    22,10,23,1
               DM    "Match case"
               DB    22,11,21,1
               DM    "Find next       SYM+N"
               DB    22,12,21,1
               DM    "Replace all"
               DB    255
               DW    &1307
               DW    &1C07
               DW    HOTK

LOPF:          LD    HL,&2007
               RST   &28
               DB    AT
               LD    HL,HLADA+1
               LD    B,20
               CALL  PST
               LD    HL,&2008
               RST   &28
               DB    AT
               LD    HL,NAHRADA+1
               LD    B,20
               CALL  PST
               LD    DE,&1509
               LD    A,(WHOLE)
               AND   1
               ADD   10
               RST   &28
               DB    SEMI
               INC   E
               DEC   D
               LD    A,(WHOLE)
               RRCA
               AND   1
               ADD   10
               RST   &28
               DB    SEMI
               CALL  CURSOR
               CP    6
               JP    NC,ZATVOR_OKNO
               LD    HL,OAR
               JP    RUNC

INH:           LD    A,20
               LD    HL,&2007
               CALL  INPUT
               JR    Z,LOPF
               LD    DE,HLADA+1
COMO:          PUSH  DE
               LD    BC,20
               LDIR
               LD    B,20
NA2:           DEC   DE
               LD    A,(DE)
               CP    " "
               JR    NZ,$+4
               DJNZ  NA2
               POP   HL
               DEC   HL
               LD    (HL),B
               JR    LOPF

INR:           LD    A,20
               LD    HL,&2008
               CALL  INPUT
               JR    Z,LOPF
               LD    DE,NAHRADA+1
               JR    COMO

SWORD:         LD    B,1
               JR    SCASE+2
SCASE:         LD    B,2
               LD    A,(WHOLE)
               XOR   B
               LD    (WHOLE),A
               JP    LOPF

FINDS:         CALL  ZATVOR_OKNO
               CALL  ZATVOR_OKNO
               POP   HL
               POP   HL

               RST   SCRF
               CALL  FIND
               JR    FIND2

FIND1:         CALL  TOTXT
               RST   SCRF
               CALL  FIND+3

FIND2:         JR    NC,NOTF
               LD    C,0
HLT:           DEC   HL
               LD    A,(HL)
               CP    13
               JR    Z,DOR
               CP    &C0
               JR    NC,DOR
               CP    " "
               JR    C,HLT
               INC   C
               JR    HLT

DOR:           LD    A,C
               LD    (CURS+1),A
               LD    BC,(LNE)
               JP    GOTO1

NOTF:          CALL  OTVOR_OKNO
               DW    &1008
               DW    &1101
               DB    &FA,0,22,9,19
               DM    "String not found"
               DB    255
               DW    0,0,0
               EI
               LD    B,60
               HALT
               DJNZ  $-1
               JP    ZATVOR_OKNO

REPLC:         LD    A,(HLADA)
               LD    C,A
               LD    A,(NAHRADA)
               SUB   C
               LD    HL,PRIDAJ+3
               JR    NC,NEUB
               LD    HL,ZRUS+3
               NEG
NEUB:          JR    NZ,$+5
               LD    HL,NORN
               LD    (FCIA+1),HL
               LD    (FCIA-1),A
               RST   SCRF
               CALL  FIND
NAHRZ:         JR    NC,KONR
               CALL  FCIA-2
               CALL  FIND+3
               JR    NAHRZ

               LD    A,0
FCIA:          CALL  0
               LD    HL,NAHRADA
               LD    DE,(MEM)
               LD    B,0
               LD    C,(HL)
               INC   HL
               INC   C
               DEC   C
               JR    Z,$+4
               LDIR
NORN:          RET

KONR:          CALL  ZATVOR_OKNO
               CALL  ZATVOR_OKNO
               JP    STARTT

WHOLE:         DB    2
HLADA:         DB    0
               DM    "...................."
NAHRADA:       DB    0
               DM    "...................."

GOTH:          DB    "L","P",255

MOUSE:         LD    A,(MFLAG)
               CPL
               LD    (MFLAG),A
               RET

GOTOS:         CALL  OTVOR_OKNO
               DW    2
               DW    &D02
               DB    &FA,1,22,2,1
               DM    " Go to "
               DB    22,3,1,1
               DM    "Line number"
               DB    22,4,1,1
               DM    "Page number"
               DB    255
               DW    3
               DW    &D02
               DW    GOTH

               LD    HL,ZATVOR_OKNO
               PUSH  HL

               CALL  CURSOR
               CP    2
               RET   NC
               AND   A
               JR    Z,GOTON

               LD    A,3
               LD    HL,&A04
               CALL  COMPUT
               RET   Z

               LD    DE,(FIRSTPAGE)
               LD    D,0
               AND   A
               SBC   HL,DE
               RET   C
               LD    E,1
               SBC   HL,DE
               RET   C
               LD    DE,(LENGHT)
               LD    D,0
               RST   &28
               DB    MULTIPLY
               JR    GOTO3

GOTON:         LD    A,4
               LD    HL,&A03
               CALL  COMPUT
               RET   Z

GOTO3:         POP   BC               ;ODHOD ADRESU
               PUSH  HL
               CALL  ZATVOR_OKNO
               POP   BC

GOTO1:         LD    HL,32768
               LD    (ALINE),HL
               LD    DE,0
HLI:           LD    A,B
               OR    C
               JR    Z,ENG
               DEC   BC
               INC   DE
               CALL  NEXTL
               JR    NC,HLI
               DEC   DE
ENG:           LD    (RIADOK),DE
               JP    EDITORS

JESTYL:        LD    A,(IY+0)
               CALL  ISSTYL
               RET   NC
               LD    A,(DE)
               CALL  ISSTYL
               RET   C
               INC   IY      ; SOURCE BEZ, ZACHOVAJ POVOD
               LD    (ALINE),IY
               RET

ROZMER:        LD    BC,(BLOK1)   ; DE OD ADR
               LD    HL,(BLOK2)
               AND   A
               SBC   HL,BC
               LD    A,H
               OR    L
               RET   Z            ; RET IF START==END

               LD    IY,(ALINE)   ; CURSOR ADDR
               CALL  SETTO        ; HL KOLKO
               PUSH  HL           ; SAVE START
               LD    BC,(BLOK2)
               LD    A,B
               OR    C
               JR    NZ,$+5
               POP   DE           ; VRAT Z, AK BLOK2 == 0
               JR    KUY

               CALL  SETTO
               POP   DE
               AND   A
               SBC   HL,DE         ; DE=ODKIAL
KUY:           LD    (ALINE),IY    ; HL=KOLKO
               RET                ; NZ=OK

DELB:          CALL  ROZMER
               JP    Z,ERRORC
               LD    A,D
               CP    &80
               JR    NZ,OKDEL
               LD    A,E
               AND   A
               JR    NZ,OKDEL
               INC   DE
               DEC   HL
OKDEL:         ADD   HL,DE
               CALL  ZR
               LD    HL,(ENDTXT)
               LD    DE,&7FFE
               ADD   HL,DE
               JR    C,ENDBL

               LD    HL,&8000           ; ALL DELETE
               LD    (HL),STARTSTYL
               INC   L
               LD    (HL),13
               INC   L
               LD    (HL),0
               LD    (ENDTXT),HL

ENDBL:         LD    HL,(BLOK1)
               LD    DE,(RIADOK)
               SBC   HL,DE
               JP    NC,ENDBLO1

               LD    BC,(BLOK1)
               LD    HL,(BLOK2)
               AND   A
               SBC   HL,BC
               EX    DE,HL
               SBC   HL,DE
               LD    (RIADOK),HL
               JR    ENDBLO1

MOVB:          CALL  ROZMER
               JP    Z,ERRORC

               EXX
               LD    HL,(RIADOK)
               LD    DE,(BLOK1)
               LD    BC,(BLOK2)
               XOR   A
               LD    (CLIPF),A
               SBC   HL,DE
               ADD   HL,DE
               JR    C,OKM          ; PRESUVA SA DOPREDU
               INC   BC
               SBC   HL,BC
               JP    Z,ERRORC       ; HNED ZAN
               ADD   HL,BC
               JP    C,ERRORC       ; DO SEBA
               LD    H,B
               LD    L,C
               SBC   HL,DE
               EX    DE,HL
               LD    HL,(RIADOK)
               SBC   HL,DE
               LD    (RIADOK),HL

OKM:           EXX
               PUSH  HL
               PUSH  HL
               PUSH  DE

               LD    A,(NEW+1)
               EX    DE,HL
               PUSH  DE
               POP   IX
               LD    B,0
               LD    C,CLIP
               LD    DE,32768
               RST   &28
               DB    MOV_LDIR

               POP   DE
               POP   HL
               ADD   HL,DE
               CALL  ZR
               LD    BC,(RIADOK)
               CALL  SETTO

MOVB1:         LD    HL,(ALINE)
               POP   BC
               PUSH  BC
               PUSH  HL
               CALL  PRID1
               POP   DE
               POP   IX
               LD    B,0
               LD    A,(NEW+1)
               LD    C,A
               LD    A,CLIP
               LD    HL,32768
               RST   &28
               DB    MOV_LDIR
               RST   40
               DB    BEEP

ENDBLO1:       LD    HL,0
               LD    (BLOK2),HL
               LD    (BLOK1),HL

ENDBLO:        CALL  ZATVOR_OKNO
               JP    NAMIESTO

COPBH:         DB    "B","C","L",-1

COPB:          CALL  OTVOR_OKNO
               DW    &1406
               DW    &1003
               DB    &FA,1,22,6,21
               DM    " Copy ... "
               DB    22,7,21,1
               DM    "Block to cursor"
               DB    22,8,21,1
               DM    "Clipboard to cursor"
               DB    22,9,21,"B",1
               DM    "lock to clipboard"
               DB    -1
               DW    &1407
               DW    &1003
               DW    COPBH

               CALL  CURSOR
               CP    3
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF
               RET   NC
               LD    HL,(CLIPF)
               CP    1
               LD    (CLIPF),A    ; 0 STANDARD
               JR    Z,COPYFROMC  ; 1 CLIP TO CUR
               CALL  ROZMER       ; 2 BLOCK TO CLIP
               JR    NZ,ERRORC+2
ERRORC:        POP   HL           ; ODHOD EDITMENU ADDR
               RET               ; RET CEZ CLOSE.BOX

               CALL  JESTYL       ; IY++ IF STYL
               LD    (CLIPSIZE),HL  ; SET SIZE OF CLIP
               LD    BC,(ENDTXT)
               PUSH  HL
               INC   B
               INC   B
               ADD   HL,BC          ; NEZMESTI SA
               POP   HL
               JR    NC,COPB1
               LD    A,(CLIPF)
               AND   A
               RET   Z              ; OUT OF SPACE

COPB1:         PUSH  HL             ; COPY BLOCK TO CLIP
               LD    A,(NEW+1)
               EX    DE,HL
               PUSH  DE
               POP   IX
               LD    B,0
               LD    C,CLIP
               LD    DE,32768
               RST   &28
               DB    MOV_LDIR
               LD    A,(CLIPF)
               CP    2
               JP    NZ,MOVB1
               POP   HL
               RST   40
               DB    BEEP
               RET
                               ; NAPLN CLIP A SKONCI
COPYFROMC:     LD    A,L        ; CLIP TO CUR
               AND   A
               RET   Z
               LD    HL,(CLIPSIZE)
               PUSH  HL
               LD    BC,(ENDTXT)
               INC   B
               INC   B
               ADD   HL,BC
               JP    NC,MOVB1
               POP   AF
               RET

LOF:           CALL  LFF
               CALL  NZ,LOAD_AT
               JP    ZATVOR_OKNO

SOF:           CALL  LFF
               LD    B,0
               LD    IX,3150
               CALL  NZ,SAVE
               JP    ZATVOR_OKNO

LFF:           CALL  OTVOR_OKNO
               DW    &1505
               DW    &D02
               DB    &FA,1,22,5,22
               DM    "Enter font name "
               DB    255
               DW    0,0,0

               LD    A,6
               LD    HL,&1606
               CALL  INPUT
               RET   Z
               LD    DE,HEADR1
               LD    BC,6
               LDIR
               LD    HL,FMAS
               LD    C,4
               LDIR
               CALL  TEXT
               DB    22,5,30
               DM    "number "
               DB    255

NUF:           LD    A,2
               LD    HL,&1607
               CALL  COMPUT
               RET   Z
               LD    A,L
               CP    15
               RET   NC

               LD    C,9
               CP    10
               JR    C,OKC
               SUB   10
               DEC   C

OKC:           LD    L,A
               LD    H,0
               PUSH  BC
               LD    DE,3150
               RST   &28
               DB    MULTIPLY
               POP   BC
               EX    DE,HL
               SET   7,D
               BIT   6,D
               RES   6,D
               JR    Z,$+3
               INC   C
               LD    A,19
               LD    HL,HEADR1
               AND   A
               RET

FMAS:          DM    ".FNT"
HOT4:          DM    "CIRMLSADWPH"
               DB    255
O4R:           DW    CO,INF,REM,MOUSE,LOF,SOF,TAUTO,DIAK,ULOZINI
               DW    DISP,RULFLAG

OPTIO:         CALL  OTVOR_OKNO
               DW    &1202
               DW    &0F0B
               DB    &F5,1,22,2,19
               DM    "Options "
               DB    22,3,19,1
               DM    "Color"
               DB    22,4,19,1
               DM    "Info"
               DB    22,5,19,1
               DM    "Remark"
               DB    22,6,19,1
               DM    "Mouse control"
               DB    22,7,19,1
               DM    "Load font"
               DB    22,8,19,1
               DM    "Save font"
               DB    22,9,19,1
               DM    "AutoSave"
               DB    22,10,19,1
               DM    "Diakritika"
               DB    22,11,19,1
               DM    "Write configuration"
               DB    22,12,19,"D","i","s",1
               DM    "play warnings"
               DB    22,13,19,"S",1
               DM    "how ruler"
               DB    255
               DW    &1203
               DW    &100B
               DW    HOT4

               LD    HL,ZATVOR_OKNO
               PUSH  HL
OP3:           LD    HL,OP3
               PUSH  HL

               LD    DE,&2009
               LD    A,(AUTF+1)
               RST   &28
               DB    SEMI

               LD    DE,&200C
               LD    A,(DISPF)
               ADD   10
               RST   &28
               DB    SEMI

               LD    DE,&200D
               LD    A,(RFLAG)
               XOR   1
               ADD   10
               RST   &28
               DB    SEMI

               LD    DE,&2006
               LD    A,(MFLAG)
               ADD   11
               RST   &28
               DB    SEMI

               LD    HL,&1F0A
               RST   &28
               DB    AT
               LD    A,(PRR)
               CP    " "
               JR    NC,CPR
               LD    L,A
               LD    H,0
               CALL  NUM2
               JR    CUE

CPR:           PUSH  AF
               LD    A,34
               RST   16
               POP   AF
               RST   16
               LD    A,34
               RST   16

CUE:           CALL  CURSOR
               CP    12
               LD    HL,O4R
               JP    C,RUNC
               POP   AF
               JP    RULERS

DIAK:          LD    A,3
               LD    HL,&1F0A
               CALL  COMPUT
               RET   Z
               LD    A,L
               CP    128
               RET   NC
               LD    (PRR),A
               RET

DISP:          LD    A,(DISPF)
               XOR   1
               LD    (DISPF),A
               RET

RULFLAG:       LD    A,(RFLAG)
               XOR   1
               LD    (RFLAG),A
               RET

ULOZINI:       XOR   A
               OUT   (251),A
               LD    DE,32768
               LD    HL,MENO
               LD    BC,16
               LDIR
               LD    HL,SERIA
               LD    C,5
               LDIR

               LD    A,(&2F)
               ADD   "C"
               LD    (DE),A
               INC   DE

               LD    A,(C1+1)
               LD    (DE),A
               INC   DE
               LD    A,(C2+1)
               LD    (DE),A
               INC   DE
               LD    A,(C3+1)
               LD    (DE),A
               INC   DE
               LD    A,(C4+1)
               LD    (DE),A
               INC   DE

               LD    A,(AUTF+1)
               LD    (DE),A
               INC   DE
               LD    A,(PRR)
               LD    (DE),A
               INC   DE
               LD    A,(PPP)
               LD    (DE),A
               INC   DE
               LD    HL,MARGIN
               LD    BC,8
               DB    62
DISPF:         DB    0
               LDIR
               LD    (DE),A
               INC   DE

               LD    A,(RFLAG)
               LD    (DE),A
               INC   DE

               LD    A,(MFLAG)
               LD    (DE),A
               INC   DE

               LD    HL,MAKRA
               LD    A,(HL)
               LDI
               AND   A
               JR    NZ,$-4

               RES   7,D
               PUSH  DE
               POP   IX     ; LENGHT
               LD    A,19
               LD    HL,ININA
               LD    C,0
               LD    DE,32768
               LD    B,0
               CALL  SAVE
               LD    A,(NEW+1)
               OUT   (251),A
               RET
ININA:         DM    "EDIPRO.INI"

OTHERS:        CALL  OTVOR_OKNO
               DW    &2707
               DW    &C05
               DB    &FA,1,22,7,40
               DM    "Others "
               DB    22,8,40,1
               DM    "TAB to SPACE"
               DB    22,9,40,1
               DM    "Unjustify"
               DB    22,10,40,"T",1
               DM    "o upper"
               DB    22,11,40,"T","o",32,1
               DM    "lower"
               DB    22,12,40,1
               DM    "Cancel styles"
               DB    255
               DW    &2708
               DW    &E06
               DW    OTH

               LD    HL,NAMIESTO
               PUSH  HL
               LD    HL,ZATVOR_OKNO
               PUSH  HL
               LD    HL,ZATVOR_OKNO
               PUSH  HL

               CALL  CURSOR

               CP    5
               RET   NC
               LD    HL,OTH2
               JP    RUNC

OTH:           DM    "TUOLC"
               DB    255
OTH2:          DW    TTS,UNJ,TOUPER,TOLOVR,LESST

TTS:           CALL  ROZMER
               RET   Z
               EX    DE,HL

               LD    A,TAB
               EX    AF,AF'
               LD    A," "

COMT:          LD    B,D
               LD    C,E
               LD    D,A
               EX    AF,AF'
FGJ:           CPIR
               RET   PO
               DEC   HL
               LD    (HL),D
               INC   HL
               JR    FGJ

TOUPER:        CALL  ROZMER
               RET   Z
               EX    DE,HL
               DEC   HL
TOUP:          LD    A,D
               OR    E
               RET   Z
               DEC   DE
               INC   HL
               LD    A,(HL)
               CP    "a"
               JR    C,TOUP
               CP    &90
               JR    NC,DI2
               CP    "z"+1
               JR    NC,TOUP
               RES   5,A
               LD    (HL),A
               JR    TOUP

DI2:           CP    TAB
               JR    NC,TOUP
               SUB   16
               JR    DI2-3

TOLOVR:        CALL  ROZMER
               RET   Z
               EX    DE,HL
               DEC   HL
TOUL:          LD    A,D
               OR    E
               RET   Z
               DEC   DE
               INC   HL
               LD    A,(HL)
               CP    "A"
               JR    C,TOUL
               CP    128
               JR    NC,DI3
               CP    "Z"+1
               JR    NC,TOUL
               SET   5,A
               LD    (HL),A
               JR    TOUL

DI3:           CP    &8F
               JR    NC,TOUL
               ADD   16
               JR    DI3-3

UNJ:           CALL  ROZMER
               RET   Z
               EX    DE,HL

UN1:           LD    A,D
               OR    E
               RET   Z

               DEC   DE
               LD    A,(HL)
               CP    " "
               INC   HL
               JR    NZ,UN1
               LD    B,0

UN2:           PUSH  HL
               LD    A,(HL)
               CP    " "
               INC   HL
               JR    NZ,ZRUA
               DEC   DE
               INC   B
               JR    UN2+1

ZRUA:          POP   HL
               LD    A,B
               AND   A
               JR    Z,UN1
               PUSH  HL
               PUSH  DE
               CALL  ZRUS+3
               POP   DE
               POP   HL
               JR    UN1

LESST:         CALL  ROZMER
               RET   Z
               EX    DE,HL

LES1:          LD    A,D
               OR    E
               RET   Z
               DEC   DE
               LD    A,(HL)
               INC   HL
               CP    &C0
               JR    C,LES1
               CP    &CA
               JR    NC,LES1
               DEC   HL
               PUSH  HL
               PUSH  DE
               LD    A,1
               CALL  ZRUS+3
               POP   DE
               POP   HL
               JR    LES1

EDITFONT:      CALL  OTVOR_OKNO
               DW    &0D00
               DW    &290E
               DB    240,0,22,3,47,1
               DM    "Width"
               DB    22,4,47,1
               DM    "Next char"
               DB    22,5,47,1
               DM    "Last char"
               DB    22,6,47,1
               DM    "Up (roll)"
               DB    22,7,47,1
               DM    "Right"
               DB    22,8,47,1
               DM    "Copy char"
               DB    22,9,47,1
               DM    "Quit"
               DB    255

               DW    &1001
               DW    &2B0C
               DW    FRV

               LD    HL,ZATVOR_OKNO
               PUSH  HL
               XOR   A
               LD    (FCHANGE),A
               CALL  FONT1
               DB    62
FCHANGE:       NOP
               AND   A
               RET   Z

               RST   &28
               DB    BEEP
               CALL  TEXT
               DB    22,14,20
               DM    "Font is changed, overwrite ?  (y/N)"
               DB    255

               CALL  ASCII
               RES   5,A
               CP    "Y"
               RET   NZ

               LD    A,(VZOR)  ; ULOZ FONT
               AND   31
               SUB   17
               LD    C,9
               CP    10
               JR    C,OKCS
               SUB   10
               DEC   C
OKCS:          PUSH  BC
               LD    L,A
               LD    H,0
               LD    DE,3150
               RST   &28
               DB    MULTIPLY
               POP   BC
               EX    DE,HL
               SET   7,D
               BIT   6,D
               RES   6,D
               JR    Z,$+3
               INC   C
               RST   SCRO
               LD    A,15
               LD    HL,(BITMAP)
               RES   6,H
               LD    B,0
               LD    IX,3150
               RST   &28
               DB    MOV_LDIR
               JP    SETPAL

FRV:           DW    0,0,0,0,0,0
               DM    "WNLURCQ"
               DB    255

ACHAR:         DB    128
AIND:          DS    2
ADAT:          DS    2

FONT1:         LD    BC,&1001
               LD    DE,&1E0C
               LD    A,0
               CALL  FILL_SCR

               RST   SCRO

               LD    HL,(BITMAP)
               PUSH  HL
               LD    A,(ACHAR)
               SUB   " "
               ADD   L
               LD    L,A
               JR    NC,$+3
               INC   H
               LD    (AIND),HL
               LD    A,(HL)
               LD    (VIND),A
               LD    A,(ACHAR)
               SUB   " "
               LD    L,A
               LD    H,0
               RST   &28
               DB    HL12
               ADD   HL,HL
               POP   DE
               ADD   HL,DE
               LD    DE,126
               ADD   HL,DE

               LD    (ADAT),HL
               LD    BC,&1001
               LD    E,12
               DB    62
VIND:          DB    0
               ADD   A
               LD    D,A
               LD    A,255
               CALL  FILL_SCR

FNT2:          CALL  WIEVC
               LD    A,14*12
               LD    HL,20*8
               LD    (cy),A
               LD    (cx),HL
               RST   SCRO

               LD    A,(ACHAR)
               CP    128
               JR    NC,$+11

               CALL  &E003
               CALL  &E003
               CALL  &E003

               LD    BC,20000
               RST   &28
               DB    CAKAJ

               CALL  CURSOR
               JR    C,CEZK
               LD    A,H
               CP    25
               LD    A,L
               JR    C,CEZK
               ADD   10

CEZK:          CP    18
               RET   NC
               RST   SCRO
               CP    12
               JR    Z,SIND
               CP    13
               JR    Z,NXT
               CP    14
               JR    Z,LST
               LD    (FCHANGE),A
               CP    15
               JR    Z,UPC
               CP    16
               JP    Z,RGJ
               CP    17
               JP    Z,CCH

               RR    H
               LD    A,H
               AND   7
               LD    B,A
               LD    A,L
               ADD   A
               LD    HL,(ADAT)
               ADD   L
               LD    L,A
               JR    NC,$+3
               INC   H
               BIT   2,B
               JR    Z,$+3
               INC   HL
               LD    A,B
               LD    B,%11000000
               AND   3
               JR    Z,NERO
EYH:           RR    B
               RR    B
               DEC   A
               JR    NZ,EYH
NERO:          LD    A,(HL)
               XOR   B
               LD    (HL),A
               JP    FONT1

SIND:          LD    A,2
               LD    (FCHANGE),A
               LD    HL,&3403
               CALL  COMPUT
               JP    Z,FONT1
               LD    A,L
               AND   15
               CP    2
               JP    C,FONT1

               RST   SCRO
               LD    HL,(AIND)
               LD    (HL),A
               LD    (VIND),A
               JP    FONT1

NXT:           LD    A,(ACHAR)
               INC   A
               CP    &9E
               JR    NZ,$+4
               LD    A," "
NXT1:          LD    (ACHAR),A
               JP    FONT1

LST:           LD    A,(ACHAR)
               DEC   A
               CP    " "-1
               JR    NZ,$+4
               LD    A,&9D
               JR    NXT1

UPC:           LD    HL,(ADAT)
               LD    D,H
               LD    E,L
               LD    B,(HL)
               INC   HL
               LD    C,(HL)
               INC   HL
               PUSH  BC
               LD    BC,22
               LDIR
               POP   BC
               DEC   HL
               LD    (HL),C
               DEC   HL
               LD    (HL),B
               JP    FONT1

RGJ:           LD    B,12
               LD    HL,(ADAT)
               INC   HL
               BIT   0,(HL)
               DEC   HL
               SCF
               JR    NZ,$+3
               CCF
               RR    (HL)
               INC   HL
               RR    (HL)
               DEC   HL
               RR    (HL)
               INC   HL
               RR    (HL)
               INC   HL
               DJNZ  RGJ+5
               JP    FONT1

CCH:           LD    A,2
               LD    HL,&100D
               CALL  INPUT
               JP    Z,FONT1
               RST   SCRO
               LD    A,(HL)
               LD    B,A
               LD    HL,(BITMAP)
               PUSH  HL
               LD    A,B
               SUB   " "
               ADD   L
               LD    L,A
               JR    NC,$+3
               INC   H
               LD    A,(HL)
               LD    (VIND),A
               LD    HL,(AIND)
               LD    (HL),A
               LD    A,B
               SUB   " "
               LD    L,A
               LD    H,0
               RST   &28
               DB    HL12
               ADD   HL,HL
               POP   DE
               ADD   HL,DE
               LD    DE,126
               ADD   HL,DE

               LD    DE,(ADAT)
               LD    BC,24
               LDIR
               JP    FONT1

WIEVC:         LD    HL,(ADAT)
               LD    BC,&1001
               LD    A,12

VIE:           PUSH  BC
               PUSH  AF
               RST   SCRO
               CALL  ONMI
               INC   HL
               CALL  ONMI
               INC   HL

               POP   AF
               POP   BC

               DEC   A
               RET   Z

               INC   C
               LD    B,&10
               JR    VIE

ONMI:          BIT   7,(HL)
               CALL  NEGA
               BIT   5,(HL)
               CALL  NEGA
               BIT   3,(HL)
               CALL  NEGA
               BIT   1,(HL)

NEGA:          PUSH  BC
               JR    Z,ENEGA
               PUSH  HL
               LD    DE,&201
               RST   &28
               DB    NEGATE
               POP   HL
ENEGA:         POP   BC
               INC   B
               INC   B
               RST   SCRO
               RET


HOT7:          DM    "FMCDOE"
               DB    255
O7R:           DW    REP,MOVB,COPB,DELB,OTHERS,EDITFONT

EDIT:          CALL  TOTXT
               CALL  OTVOR_OKNO
               DW    &2202
               DW    &0D08
               DB    &F5,1,22,2,35
               DM    "Edit "
               DB    22,3,35,1
               DM    "Find/Repl"
               DB    22,4,35,1
               DM    "Move block"
               DB    22,5,35,1
               DM    "Copy bLock"
               DB    22,6,35,1
               DM    "Delete block"
               DB    22,7,35,1
               DM    "Other ..."
               DB    22,8,35,1
               DM    "Edit FONT"
               DB    255
               DW    &2203
               DW    &F09
               DW    HOT7

               LD    HL,ZATVOR_OKNO
               PUSH  HL
OP7:           LD    HL,OP7
               PUSH  HL
               CALL  PRBL
               CALL  CURSOR
               CP    6
               LD    HL,O7R
               JP    C,RUNC
               POP   AF
               RET

MRG:           LD    A,3
               LD    HL,&1603
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   31
               LD    (MARGIN),A
               RET

BOT:           LD    A,2
               LD    HL,&1604
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   7
               LD    (BOTTOM),A
               RET

BEL:           LD    A,2
               LD    HL,&1605
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   7
               LD    (BELOW),A
               RET

HE:            CALL  OKIN
               DB    22,5,20
               DM    "Enter page head"
               DB    22,7,22,255
               LD    HL,ZATVOR_OKNO
               PUSH  HL
               LD    HL,HEAD
               LD    B,36
               CALL  PST
               LD    A,36
               LD    HL,&1506
               CALL  INPUT
               RET   Z
               LD    DE,HEAD
               LD    BC,36
               LDIR
               RET

HA:            CALL  OKIN
               DB    22,5,20
               DM    "Enter page heal"
               DB    22,7,20,255
               LD    HL,ZATVOR_OKNO
               PUSH  HL
               LD    HL,HEAL
               LD    B,36
               CALL  PST
               LD    A,36
               LD    HL,&1506
               CALL  INPUT
               RET   Z
               LD    DE,HEAL
               LD    BC,36
               LDIR
               RET

OKIN:          CALL  OTVOR_OKNO
               DW    &1205
               DW    &2302
               DB    &F5
               DB    1,255
               DW    0,0,0
               JP    TEXT

LE:            LD    A,3
               LD    HL,&1608
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   127
               AND   A
               RET   Z
               LD    (LENGHT),A
               RET

SI:            LD    A,2
               LD    HL,&1609
               CALL  COMPUT
               RET   Z
               LD    A,L
               AND   15
               RET   Z
               LD    (SIZE),A
               RET
HST:           LD    A,2
               LD    HL,&160A
               CALL  COMPUT
               RET   Z
               LD    A,L
               CP    10
               RET   NC
               LD    (HSTYL),A
               RET


HOT3:          DM    "MBEHALST"
               DB    255
O3R:           DW    MRG,BOT,BEL,HE,HA,LE,SI,HST

PAGES:         CALL  OTVOR_OKNO
               DW    &E02
               DW    &0B08
               DB    &F5,1,22,2,15
               DM    "Pages "
               DB    22,3,15,1
               DM    "Margin"
               DB    22,4,15,1
               DM    "Bottom"
               DB    22,5,15,"B",1
               DM    "elow"
               DB    22,6,15,1
               DM    "Head"
               DB    22,7,15,"H","e",1
               DM    "al"
               DB    22,8,15,1
               DM    "Lenght"
               DB    22,9,15,1
               DM    "Size"
               DB    22,10,15,"S",1
               DM    "tyle H."
               DB    255
               DW    &F03
               DW    &B09
               DW    HOT3

               LD    HL,ZATVOR_OKNO
               PUSH  HL
PAG1:          LD    HL,PAG1
               PUSH  HL
               LD    HL,&1603
               RST   &28
               DB    AT
               LD    HL,(MARGIN)
               LD    H,0
               CALL  NUM2
               LD    HL,&1604
               RST   &28
               DB    AT
               LD    A,(BOTTOM)
               ADD   "0"
               RST   16
               LD    HL,&1605
               RST   &28
               DB    AT
               LD    A,(BELOW)
               ADD   "0"
               RST   16
               LD    HL,&1608
               RST   &28
               DB    AT
               LD    HL,(LENGHT)
               LD    H,0
               CALL  NUM2
               LD    HL,&1609
               RST   &28
               DB    AT
               LD    HL,(SIZE)
               LD    H,0
               CALL  NUM2
               LD    HL,&160A
               RST   &28
               DB    AT
               LD    A,(HSTYL)
               ADD   "0"
               RST   16

               CALL  CURSOR
               CP    8
               LD    HL,O3R
               JP    C,RUNC
               POP   AF
               RET



OTVO1:         LD    A,(DISPF)
               AND   A
               JR    NZ,OTVO2
               CALL  YOUSURE
               CALL  ASCII
               RES   5,A
               CP    "Y"
               JP    NZ,ZATVOR_OKNO
               CALL  ZATVOR_OKNO

OTVO2:         CALL  NEW
               CALL  OPEN2
               CALL  LOGO
               CALL  ZATVOR_OKNO
               LD    SP,(BRUM+1)
               JP    EDITOR

HEADR:         DM    "123456.EDI"

SAVEAS:        CALL  INAME
               RET   Z
               LD    DE,HEADR
               LD    BC,6
               LDIR
               LD    HL,HEADR
               LD    DE,FNAME
               LD    C,6
               LDIR
               LD    HL,FNAME
               LD    A,19
               CALL  FILE.INFO
               JR    C,SAVE2

               CALL  OTVOR_OKNO
               DW    &1808
               DW    &1001
               DB    &F5,0,22,9,27
               DM    "Overwrite File ?"
               DB    255
               DW    0,0,0
               CALL  ASCII
               RES   5,A
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF
               CP    13
               JR    Z,SAVE2
               CP    "Y"
               RET   NZ
SAVE2:         POP   HL             ; ODHOD ZATVOR_OKNO

ULOZTXT:       LD    IX,(ADLZ)
               CALL  TOTXT

               LD    A,(&2F)
               ADD   "C"
               LD    (AKCENT),A
               LD    HL,VERSION
               LD    (VERZIA2),HL

               RST   SCRF
               LD    HL,32768
               XOR   A
               LD    BC,32700
               CPIR
               DEC   HL
               LD    (ENDTXT),HL
               INC   HL
               LD    DE,REMS
               LD    BC,INFOL
               EX    DE,HL
               LDIR
               RES   7,D
               PUSH  DE
               LD    BC,(NEW+1)
               LD    B,0
               LD    DE,32768
               POP   HL
               BIT   6,H
               RES   6,H
               JR    Z,$+3
               INC   B
               PUSH  HL
               POP   IX
               LD    HL,HEADR
               LD    A,19
               CALL  SAVE
               CALL  ZATVOR_OKNO
               CALL  LOGO1
               CALL  PRAVITKO

RESAUTO:       LD    HL,(ENDTXT)
               LD    BC,370
               LD    E,0
               LD    A,(NEW+1)
               OUT   (251),A
               CALL  FILL
               LD    HL,0
               LD    (32766),HL
               LD    (32765),HL
               RET

TAUTO:         LD    A,(AUTF+1)
               XOR   1
               LD    (AUTF+1),A
               LD    B,128
               RST   &28
               DB    CAKAJ
               RET

AUTOSAVE:      LD    A,(32765)
               AND   A
               RET   Z
AUTF:          LD    A,11
               CP    10
               RET   NZ

               CALL  OTVOR_OKNO
               DW    &1006
               DW    &1602
               DB    &F5,0,22,7,19
               DM    "Please wait - AUTOSAVE"
               DB    22,8,19,255
               DW    0,0,0

               LD    HL,FNAME
               LD    B,10
               CALL  PST

               LD    A," "
               RST   16
               RST   16

               LD    HL,(ENDTXT)
               LD    BC,364
               ADD   HL,BC
               RES   7,H
               CALL  NUM5
               CALL  TEXT
               DB    " ","B","Y","T","E","S",255
               LD    HL,FNAME
               LD    DE,HEADR
               LD    BC,10
               LDIR
               JP    ULOZTXT

LOADS:         CALL  INAME
               RET   Z
               LD    BC,6
               LD    DE,HEADR
               LDIR
               LD    HL,HEADR
               LD    DE,FNAME
               LD    C,6
               LDIR
               RST   &28
               DB    RESTORE
               RET   C
               LD    BC,(NEW+1)
               LD    DE,32768
               LD    A,19
               LD    HL,HEADR
               CALL  LOAD_AT
               RET   C
NNO:           LD    HL,32768
               CALL  TEXP
               LD    (ALINE),HL
               XOR   A
               LD    BC,32700
               CPIR
               DEC   HL
               LD    (ENDTXT),HL
PROS:          INC   HL
               LD    DE,REMS
               LD    BC,INFOL
               LDIR
WARM1:         CALL  ZATVOR_OKNO
               CALL  RESAUTO
WARM:          CALL  LOGO1
               LD    A,(AKCENT)
               LD    C,A
               LD    A,(&2F)
               ADD   "C"
               CP    C

               CALL  NZ,WARNI

               LD    SP,(BRUM+1)
               JP    EDITOR

TEXP:          LD    A,(NEW+1)
               OUT   (251),A
               RST   SCRO
               RST   SCRF
               RET

MERGE:         CALL  INAME
               RET   Z
               LD    BC,6
               LD    DE,HEADR
               LDIR
               RST   &28
               DB    RESTORE
               RET   C
               LD    BC,(NEW+1)
               LD    DE,(ENDTXT)
               BIT   6,D
               JR    Z,NETREBA
               RES   6,D
               INC   C
NETREBA:       LD    A,19
               LD    HL,HEADR
               CALL  LOAD_AT
               RET   C

               LD    HL,(ENDTXT)
               CALL  TEXP
               XOR   A
               LD    BC,32768
               CPIR
               DEC   HL
               LD    (ENDTXT),HL
               PUSH  HL
               CALL  OTVOR_OKNO
               DW    &0E06
               DW    &1601
               DB    &FA,0,22,7,17
               DM    "Import new styles (y/n) ?"
               DB    255
               DW    0,0,0
               CALL  ASCII
               RES   5,A
               CP    "Y"
               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF
               POP   HL
               JP    Z,PROS
               JP    WARM1

IMPORT:        CALL  OTVOR_OKNO
               DW    &207
               DW    &1801
               DB    &FA
               DB    1
               DB    22,7,3
               DM    "Enter TASW/ASCII file name "
               DB    255
               DW    0,0,0
               LD    A,10
               LD    HL,&808
               CALL  INPUT
               JP    Z,ZATVOR_OKNO
               PUSH  HL
               CALL  ZATVOR_OKNO
               POP   HL
               LD    DE,HEADR1
               LD    BC,10
               LDIR
               LD    HL,HEADR1
               LD    DE,FNAME
               LD    C,6
               LDIR
               RST   &28
               DB    RESTORE
               RET   C

               CALL  NEW
               LD    BC,(NEW+1)
               LD    DE,33000
               LD    A,19
               LD    HL,HEADR1
               CALL  LOAD_AT
               JR    NC,NNO1

ZLY:           CALL  NEW
               CALL  BADT
               JP    WARM1

NNO1:          LD    DE,32768
               RST   SCRF
               LD    (ALINE),DE
               PUSH  DE
               CALL  TESTT
               POP   DE
               JR    C,ZLY

               LD    A,&C7         ; TABULKOVE
               LD    (DE),A
               INC   DE
               LD    HL,33000
               PUSH  HL
               LD    A,10
               LD    BC,128
               CPIR
               POP   HL
               JR    Z,FASC         ; Z ASCII

TASW:          PUSH  HL
               CALL  ONEL
               POP   HL
               LD    BC,64
               ADD   HL,BC
               LD    A,(HL)
               AND   A
               JR    NZ,TASW

ENDIM:         EX    DE,HL
               LD    (HL),0
               LD    (ENDTXT),HL
               JP    WARM1

FASC:          LD    A,H
               OR    L
               LD    A,(HL)
               INC   HL
               JR    Z,ENDIM
               CP    &1A
               JR    Z,ENDIM
               AND   A
               JR    Z,ENDIM

               CP    128
               JR    NC,FASC
               CP    9
               JR    NZ,NOTAB
               LD    A,159
NOTAB:         CP    13
               JR    C,FASC
               LD    (DE),A
               INC   DE
               JR    FASC

ONEL:          LD    BC,64
               PUSH  HL
               ADD   HL,BC
DTW:           DEC   HL
               LD    A,(HL)
               CP    33
               JR    NC,XX1
               DEC   C
               JR    NZ,DTW
               POP   HL
DZ:            LD    A,13
               LD    (DE),A
               INC   DE
               RET
XX1:           POP   HL
               LDIR
               JR    DZ

TESTT:
               LD    HL,33000
TTR:           LD    A,(HL)
               AND   A
               RET   Z
               INC   HL
               CP    9
               RET   C
               CP    &C0
               CCF
               RET   C
               JR    TTR

BADT:          CALL  OTVOR_OKNO
               DW    &1008
               DW    &1101
               DB    &FA,0,22,9,19
               DM    "Bad import format"
               DB    255
               DW    0,0,0
               EI
               LD    B,60
               HALT
               DJNZ  $-1
               JP    ZATVOR_OKNO

DIRALL:        LD    A,1
               JR    DIR+1

DIR:           XOR   A
               LD    (ALL),A
               LD    A,(DISK)
               OR    128
               CALL  DISK_INFO
               PUSH  IX
               PUSH  AF
               CALL  OTVOR_OKNO
               DW    2
               DW    &3E0C
               DB    &FA
               DB    1,255
               DW    0,0,0

               LD    HL,&1902
               RST   &28
               DB    AT
               LD    A,"D"
               RST   16
               POP   AF
               POP   HL
               ADD   "0"
               RST   16
               LD    A,":"
               RST   16
               LD    B,10
               CALL  PST
               LD    HL,&103
               LD    IX,&2000
DLOP:          PUSH  HL
               RST   &28
               DB    AT
               PUSH  IX
               POP   HL
               INC   HL

               DB    62
ALL:           DB    0
               AND   A
               JR    NZ,NO1  ; DO DIR ALL

               LD    A,"E"
               CP    (IX+8)
               JR    NZ,NO
               DEC   A
               CP    (IX+9)
               JR    NZ,NO
               LD    A,"I"
               CP    (IX+10)
               JR    Z,NO1

NO:            LD    A,"S"
               CP    (IX+8)
               JR    NZ,NO4
               INC   A
               CP    (IX+9)
               JR    NZ,NO4
               LD    A,"L"
               CP    (IX+10)
               JR    Z,NO1

NO4:           LD    A,"M"
               CP    (IX+8)
               JR    NZ,NO2
               LD    A,"A"
               CP    (IX+9)
               JR    NZ,NO2
               LD    A,"C"
               CP    (IX+10)
               JR    Z,NO1

NO2:           LD    A,"F"
               CP    (IX+8)
               JR    NZ,NO3
               LD    A,"N"
               CP    (IX+9)
               JR    NZ,NO3
               LD    A,"T"
               CP    (IX+10)
               JR    NZ,NO3

NO1:           LD    B,10
               PUSH  IX
               CALL  PST
               POP   IX
               POP   HL
               LD    A,10
               ADD   H
               LD    H,A
               CP    &39       ;;
               JR    C,$+5
               LD    H,1       ;;
               INC   L
               JR    $+3

NO3:           POP   HL
               LD    A,L
               CP    16
               JR    NC,ENDDIR
               LD    DE,25
               ADD   IX,DE
               DB    &DD
               LD    A,H
               CP    &28
               JP    C,DLOP
ENDDIR:        CALL  SETPAL
               CALL  ASCII
               CALL  ZATVOR_OKNO
               JP    FILE2

ERA:           CALL  OTVOR_OKNO
               DW    &203
               DW    &1801
               DB    &FA
               DB    1
               DB    22,3,3
               DM    "Enter file name to erase"
               DB    255
               DW    0,0,0

               LD    A,10
               LD    HL,&604
               CALL  INPUT
               JP    Z,ZATVOR_OKNO
               PUSH  HL
               CALL  ZATVOR_OKNO
               POP   HL
               LD    DE,HEADR1
               LD    BC,10
               LDIR
               LD    HL,HEADR1
               LD    A,19
               JP    ERASE

DEV:           CALL  OTVOR_OKNO
               DW    &60A
               DW    &1001
               DB    &FA,1,22,10,7
               DM    " CHOOSE DRIVE NUMBER "
               DB    22,11,8
               DM    "D1:    D2:    D3:"
               DB    255
               DW    0,0,0

TDC:           CALL  ASCII
               SUB   "0"
               JR    C,TDC
               CP    4
               JR    NC,TDC

               PUSH  AF
               CALL  ZATVOR_OKNO
               POP   AF

               RST   &28
               DB    SET_DRIVE
               RET   C

               RST   &28
               DB    RESTORE
               RET


YOUSURE:       CALL  OTVOR_OKNO
               DW    &1806
               DW    &1502
               DB    &FA,0,22,8,28
               DM    "YOU ARE SURE (Y/N) ?"
               DB    22,7,32
               DM    "DELETE TEXT"
               DB    255
               DW    0,0,0
               RET

HOT1:          DM    "NSALMDEVIR"
               DB    255
O1R:           DW    OTVO1,SAVE2,SAVEAS,LOADS,MERGE,DIR
               DW    ERA,DEV,IMPORT,DIRALL


ROZDEL:        CALL  DOWNBUFER      ; UROB VSADE PRIESTOR
               LD    HL,(ABUF)      ; PRE NOVY RIADOK
               LD    DE,96          ; od kurzora kopiruj vsetko
               ADD   HL,DE          ; do noveho bufera a stary

               PUSH  HL
               LD    BC,96
               LD    E,0
               CALL  FILL
               POP   HL

               EX    DE,HL          ; ukonci na kurzore CR
               PUSH  IY
               POP   HL
               CALL  MOVCR

FRV1:          LD    A,(IY-1)
               CP    " "
               JR    NZ,FRX            ; NZ
               DEC   IY
               JR    FRV1

FRX:           LD    (IY+0),13
               JR    RECAL

FULLBUF:       LD    DE,(ABUF)    ; presunie line z txt
               LD    HL,(ALINE)   ; do buf
               RST   SCRF
               XOR   A
               LD    (ZMENA),A
               CALL  MOVCR

RECAL:         LD    HL,(ABUF)    ; prepocita aktualny buf
               LD    IX,(ADLZ)
               RST   SCRO
               XOR   A
               LD    (IX+0),1
               LD    (IX+1),A
               LD    (IX+2),A

RE:            LD    A,(HL)
               INC   HL
               CP    13
               RET   Z
               INC   (IX+0)
               CALL  ISCHAR
               JR    NC,REW    ; skok ak znak

               CP    &C0       ; riadiaci kod ?
               JR    NC,RE

               CALL  &E003     ; zmen pismo
               JR    RE

REW:           CALL  INDEX

               ADD   (IX+1)
               LD    (IX+1),A
               JR    NC,RE
               INC   (IX+2)
               JR    RE

UPBUFER:       LD    DE,BUFER
               LD    HL,BUFER+96
               LD    BC,96*13
               CALL  PROPO.LDIR
               LD    DE,DLZKY
               LD    HL,DLZKY+3
               LD    BC,3*13
               CALL  PROPO.LDIR
               RET

DOWNBUFER:     LD    A,12           ; podla POSS presunie nadol
               LD    HL,POSS        ; bufery, screen A TXT
               SUB   (HL)

               PUSH  AF
               RST   SCRO
               LD    HL,0
               LD    DE,96
               AND   A
               JR    Z,P1
Q1:            ADD   HL,DE
               DEC   A
               JR    NZ,Q1

               LD    B,H
               LD    C,L
               LD    DE,DLZKY-1
               LD    HL,DLZKY-97
               CALL  PROPO.LDDR
P1:            POP   AF
               PUSH  AF
               LD    BC,0
               AND   A
               JR    Z,P2
Q2:            INC   C
               INC   C
               INC   C
               DEC   A
               JR    NZ,Q2

               LD    DE,DLZKY+38
               LD    HL,DLZKY+35
               CALL  PROPO.LDDR
P2:            POP   AF
               CP    2
               DEC   A
               JR    C,P3
               LD    DE,&600
               LD    HL,0

Q3:            ADD   HL,DE
               DEC   A
               JR    NZ,Q3

               LD    B,H
               LD    C,L
               LD    DE,&DFFF-&600
               LD    HL,&DFFF-&C00
               CALL  MULTI.LDDR
               INC   HL
               LD    BC,&600
               LD    E,0
               CALL  FILL

P3:            RST   SCRF

               LD    HL,(ALINE)
               LD    A,13
               CP    (HL)
               INC   HL
               JR    NZ,$-2
               LD    A,1
               PUSH  HL
               CALL  PRIDAJ+3
               POP   HL
               LD    (HL),13
               RET

FROMBUF:       LD    HL,(ABUF)    ; presun riadka z buf
               LD    DE,(ALINE)     ; do txt
               RST   SCRF

MOVCR:         LD    A,(HL)         ; presun z HL na DE po CR
               LDI
               CP    13
               JR    NZ,MOVCR
               RET

ZRUS:          LD    HL,(ALINE)     ; zrusi A byte od adr. ALINE
               LD    B,0
               LD    C,A
ZRUS1:         LD    D,H
               LD    E,L
               RST   SCRF
               ADD   HL,BC
               PUSH  HL
               LD    B,H
               LD    C,L
               LD    HL,(ENDTXT)
               AND   A
               SBC   HL,BC
               LD    B,H
               LD    C,L
               POP   HL
               INC   BC
               CALL  PROPO.LDIR
               XOR   A
               DEC   DE
               LD    (DE),A
               LD    (ENDTXT),DE
               RET

PRIDAJ:        LD    HL,(ALINE)     ; prida A byte od adr ALINE
               LD    B,0
               LD    C,A
PRID1:         RST   SCRF           ; PRIDA BC OD HL
               LD    DE,(ENDTXT)
               PUSH  HL
               PUSH  DE
               EX    DE,HL
               LD    (HL),0
               ADD   HL,BC
               EX    DE,HL
               LD    (ENDTXT),DE
               POP   HL
               POP   BC
               PUSH  HL         ; de new end
               AND   A
               SBC   HL,BC
               LD    B,H
               LD    C,L
               POP   HL         ; hl old end
               INC   BC
               JP    PROPO.LDDR

TOTXT:         CALL  FREE
               RET   C

               LD    A,(ZMENA)
               AND   A
               RET   Z

               LD    HL,(ABUF)    ; vlozi buf do txt a upravi
               LD    DE,(ALINE)     ; dlzku riadku na novu !
               RST   SCRF
               LD    BC,INFR
               PUSH  BC
               PUSH  DE
               LD    B,0
TO:            INC   B
               LD    A,(DE)
               INC   DE
               CP    13
               JR    NZ,TO
               POP   DE
               LD    A,(IX+0)
               SUB   B              ; POROVNAJ NOVY A STARY
               JR    Z,MOVCR
               EXX
               JR    C,UBR

               CALL  PRIDAJ
               JR    UBR+5
UBR:           NEG
               CALL  ZRUS
               EXX
               JP    MOVCR

CISTY:         CALL  SCRO
               LD    A,3
               CALL  &E003
               LD    A,(POSS)
               PUSH  AF
               CALL  &E003
               POP   AF
               ADD   2
               LD    B,0
               LD    C,A
               LD    DE,&4001
               LD    A,B
               PUSH  IX
               CALL  FILL_SCR
               POP   IX
               RST   SCRO
               LD    HL,(ABUF)
X1:            LD    A,(HL)
               INC   HL
               CP    13
               RET   Z
               CP    &C0
               CALL  C,&E003
               JR    X1

TBB:           DB    0,10,20,14,48,10,68,6,80,10,100,28
BUTON:         AND   A
               JR    $+3
               SCF

               PUSH  DE
               PUSH  AF
               LD    HL,TBB
               ADD   A
               LD    D,0
               LD    E,A
               ADD   HL,DE
               LD    D,LISTA/256
               LD    E,(HL)
               INC   HL
               LD    C,(HL)
               EX    DE,HL
               POP   AF
               LD    A,C
               LD    (MDF+1),A
               JR    NC,$+4

               ADD   L
               LD    L,A
               LD    B,12
               RST   SCRO
               POP   DE

BUTLO:         PUSH  BC
               PUSH  DE
               PUSH  HL
MDF:           LD    BC,1
               LDIR
               POP   HL
               POP   DE
               LD    BC,128
               ADD   HL,BC
               EX    DE,HL
               ADD   HL,BC
               EX    DE,HL
               POP   BC
               DJNZ  BUTLO
               RST   SCRF
               RET

GETCHAR:       CALL  ASCII1       ; pre INV opakuj
               CP    160
               JR    C,VUT
               CP    253
               JR    NZ,VUTS
               LD    A,(LASTK)
               RET

VUTS:          LD    HL,INVF
               LD    (HL),0

VUT:           LD    (LASTK),A
               RET

WARNI:         PUSH  BC
               LD    A,5
               LD    BC,&1008
               LD    DE,&1A01
               CALL  WIND1
               CALL  TEXT
               DB    22,9,17
               DM    "WARNING: File uses other accent !"
               DB    255
               RST   &28
               DB    BEEP
               CALL  ASCII
               POP   BC
               RET

ZR:            LD    A,(HL)
               LDI
               AND   A
               JR    NZ,ZR
               DEC   DE
               LD    (DE),A
               LD    (ENDTXT),DE
               RET

;---------------------------------------------------------------
SCRO:          EQU   &18
SCRF:          EQU   &20
LOAD_AT:       EQU   &103
SAVE:          EQU   &106
ERASE:         EQU   &109
DISK_INFO:     EQU   &10F
READTO:        EQU   &112
WRITETO:       EQU   &115
ERROR_WIND:    EQU   &118
ROM:           EQU   &11B
STRING:        EQU   &11E
TEXT:          EQU   &121
FILE.INFO:     EQU   &12A
FILL_SCR:      EQU   &130
ASCII:         EQU   &133
INKEY:         EQU   &136
CURSOR:        EQU   &139
SAVE_SCR:      EQU   &154
SAVE_ALL:      EQU   &15A
LOAD_SCR:      EQU   &157
OTVOR_OKNO:    EQU   &15D
ZATVOR_OKNO:   EQU   &160
WIND1:         EQU   &169
INPUT:         EQU   &181
COMPUT:        EQU   &184
CURCHAR:       EQU   &27
A12:           EQU   1
HL12:          EQU   2
DIVIDE:        EQU   3
MODULO:        EQU   4
TO_UPPER:      EQU   11
TO_ASCII:      EQU   12
SEMI:          EQU   17
CAKAJ:         EQU   18
JOYSTICK:      EQU   20
SET_DRIVE:     EQU   24
RESTORE:       EQU   25
BEEP:          EQU   30
PUK:           EQU   31
COLOR:         EQU   42
INVERSE:       EQU   45
AT:            EQU   46
NEGATE:        EQU   47
MOV_LDIR:      EQU   50
MULTIPLY:      EQU   60
TEST_MEDIUM:   EQU   63

MAKRA:         DB    230,10
               DM    "SAM Coup"
               DB    &93," ",0
               DW    0,0,0,0,0,0,0,0

TOTAL:         EQU   $
;---------------------------------------------------------------
               ORG   &1C00
               DUMP  11,&1C00


REMS:          DM    "               "
               DM    "               "
               DM    "               "
               DM    "               "

STYLS:         DB    17,8
               DB    3
               DW    0,500
               DB    12
               DM    "TITLE   "

               DB    18,4
               DB    3
               DW    32,480
               DB    12
               DM    "TEXT 1  "

               DB    19,4
               DB    3
               DW    32,480
               DB    12
               DM    "TEXT 2  "

               DB    20,4
               DB    3
               DW    0,480
               DB    12
               DM    "TEXT 3  "

               DB    21,4
               DB    3
               DW    0,500
               DB    12
               DM    "TEXT 4  "

               DB    22,4
               DB    3
               DW    32,480
               DB    12
               DM    "TEXT 5  "

               DB    23,4
               DB    3
               DW    0,500
               DB    12
               DM    "ENTITLE "

               DB    31,4
               DB    3
               DW    32,480
               DB    12
               DM    "TASWORD "

               DB    25,4
               DB    3
               DW    0,500
               DB    12
               DM    "ITALICA "

               DB    26,4
               DB    3
               DW    0,500
               DB    12
               DM    "TEXT 6  "

MARGIN:        DB    8
BOTTOM:        DB    3
BELOW:         DB    3
LENGHT:        DB    60             ; RIADKOV NA STRANU
WIDTH:         DB    1              ; GRAF. MOD TLACIARNE
MODE:          DB    5              ; SIRKA
SIZE:          DB    12             ; VELKOST V PALCOCH
HSTYL:         DB    7

ODKIAL:        DW    1     ; tlac od strany
KAM:           DW    1     ; po stranu
FIRSTPAGE:     DB    0
VERZIA2:       DW    VERSION
AKCENT:        DB    "S"
               DS    80-24

HEAD:          DM    "                  "
               DM    "                  "
HEAL:          DM    "                  "
               DM    "                  "

ALINE:         DW    32768 ; ZAC AKTUALNEHO RIADKU
ENDTXT:        DW    0     ; ADRESA POSLEDNEHO ZNAKU
RIADOK:        DW    0
ASTYL:         DW    STYLS ; ADR. POUZ. STYLU
FLAG:          DB    0
; 0 OVER
; 1 CAPS
POSS:          DB    0
ABUF:          DW    BUFER
ADLZ:          DW    DLZKY

VZOR:          DB    0
TABS:          DB    4

JUSTIFY:       DB    0

OFFSET:        DW    0
RIG:           DW    0
LSPACE:        DB    12
NAMESTYLE:     DS    8

AKTS:          NOP
BLOK1:         DW    0
BLOK2:         DW    0
LO1:           DB    22,0,23
               DM    "EDI-PRO  "
DEVICE:        DM    "D1:"
FNAME:         DM    "UNTIT1.EDI"
               DB    255

;--------------------------------------------------------

REM0:          DM    "               "
               DM    "               "
               DM    "               "
               DM    "               "

               DS    160

               DB    8
               DB    3
               DB    3
               DB    60
               DB    1
               DB    5
               DB    12
               DB    7
               DW    1,1
               DB    0
               DW    VERSION
               DB    "S"
               DS    80-24

               DM    "                  "
               DM    "                  "
               DM    "                  "
               DM    "                  "

               DW    32768
               DW    0
               DW    0
               DW    STYLS
               DB    0
               DB    0
               DW    BUFER
               DW    DLZKY
               DB    0
               DB    4
               DB    0
               DW    0
               DW    0
               DB    12
               DS    8
               NOP
               DW    0,0
               DB    22,0,23
               DM    "EDI-PRO  "
               DM    "D1:"
               DM    "UNTIT2.EDI"
               DB    255

;---------------------------------------------------------------

               ORG   32768
               DUMP  13,0

               PUSH  BC
               PUSH  DE
               PUSH  IX
               PUSH  IY
               EX    AF,AF'
               EXX
               PUSH  AF
               PUSH  BC
               PUSH  DE
               PUSH  HL

               DB    62
MUSIC:         DB    2
               INC   A
               CP    3
               JR    C,$+3
               XOR   A
               LD    (MUSIC),A
               ADD   A
               LD    L,A
               LD    H,0
               LD    DE,MPAGE
               ADD   HL,DE
               LD    E,(HL)
               INC   HL
               LD    D,(HL)
               EX    DE,HL
               LD    (&8101),HL
               LD    A,201
               LD    (&38),A
               CALL  &8100
LOOP:          EI
               HALT
               CALL  &8106
               CALL  INKEY
               AND   A
               JR    Z,LOOP
               XOR   A
               LD    (&38),A
               OUT   (254),A
               CALL  &8100
               POP   HL
               POP   DE
               POP   BC
               POP   AF
               EX    AF,AF'
               EXX
               POP   IY
               POP   IX
               POP   DE
               POP   BC
               RET

MPAGE:         DW    &85B3,&8100+9206,&8100+9206+4330

